openapi: 3.0.0
info:
  title: AI Service
  version: ''
  description: The service facilitates and streamlines e-commerce processes of product marketing.
  contact:
    name: Emporix
    url: https://emporix.com
    email: documentation@emporix.com
tags:
  - name: Agent
    description: Manage Agents
  - name: Agent Chat
    description: Chat With Agents
  - name: Agent Logs
    description: Read Agent Logs
  - name: Agent Analytics
    description: Agent analytics and execution metrics
  - name: Agent Template
    description: Manage Agent Templates
  - name: AI Completions
    description: AI Completions
  - name: Commerce Events
    description: Read Commerce Events
  - name: Import/Export
    description: Import & Export Agents
  - name: Job
    description: Manage Jobs
  - name: MCP Server
    description: Manage MCP Servers
  - name: Model
    description: Read LLM models from supported providers
  - name: OAuth
    description: Manage OAuth configurations (Preview)
  - name: Text Generation
    description: AI Text Generation
  - name: Token
    description: Manage Tokens
  - name: Tool
    description: Manage Tools
  - name: Conversation
    description: Manage Agent Conversations (Preview)
servers:
  - url: https://api.emporix.io
paths:
  '/ai-service/{tenant}/texts':
    parameters:
      - name: tenant
        in: path
        required: true
        schema:
          type: string
        description: |
          Your Emporix tenant name.

          **Note**: The tenant name should always be provided in lowercase.
    post:
      summary: Generating text for an object description
      operationId: POST-ai-generate-description
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_text_generation'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '500':
          $ref: '#/components/responses/500_resp_common'
      description: |-
        Generates a text based on a prompt. 
        Currently, the supported AI engine for the text generation is https://platform.openai.com/.

        ***
        Prerequisite: Using the AI service requires an API token, you have to either configure your own OpenAI account, or use the Emporix one. To configure your own OpenAI token, use the configuration service by storing the token under `openAiApiToken` key.  

        If you don't provide your own OpenAI token, the Emporix one is used with the following limits: 3 mln input tokens and 1 mln output tokens. When you reach the limit, the next requests are rejected and you have to provide your own OpenAI token.
        Emporix uses the gpt-4o-mini model by default.
        If you want to use your own OpenAI account with a different AI model please contact our [Emporix Support Team](mailto:support@emporix.com) to negotiate the model and usage.
      security:
        - OAuth2:
            - ai.text_manage
      requestBody:
        $ref: '#/components/requestBodies/TextGeneration'
      tags:
        - Text Generation
  '/ai-service/{tenant}/completions':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      summary: Generating AI Completions
      operationId: POST-ai-completions
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_text_generation'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '500':
          $ref: '#/components/responses/500_resp_common'
      description: |-
        Generates a completion based on chat history. 
        Currently, the supported AI engine for the text generation is https://platform.openai.com/.


        ***
        Prerequisite: Using the AI service requires an API token, you have to either configure your own OpenAI account, or use the Emporix one. To configure your own OpenAI token, use the configuration service by storing the token under the `openAiApiToken` key. 

        If you don't provide your own OpenAI token, the Emporix one is used with the following limits: 3 mln input tokens and 1 mln output tokens. When you reach the limit, the next requests are rejected and you have to provide your own OpenAI token. 
        Emporix uses the gpt-4o-mini model by default. If you want to use your own OpenAI account with a different AI model, please contact our [Emporix Support Team](mailto:support@emporix.com) to negotiate the model and usage.
      security:
        - OAuth2:
            - ai.completion_manage
      requestBody:
        $ref: '#/components/requestBodies/Completion'
      tags:
        - AI Completions
  '/ai-service/{tenant}/jobs':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing available jobs
      operationId: GET-ai-list-jobs
      responses:
        '200':
          description: List of available jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
              examples:
                Jobs:
                  value:
                    - id: 68835cc3ef4e8e1425c360ad
                      status: success
                      sessionId: 123e4567-e89b-12d3-a456-426614174000
                      agentType: complaint
                      type: AGENT_CHAT
                      agentId: complaint-agent
                      commerceEvent: product.product-updated
                      message: |-
                        Dear Customer,

                        We have successfully processed your support request regarding the incorrect information on invoice EIN251131 for order EON1031. Our team has verified the order and customer details, confirming both the order and legal entity were found.
                        Thank you for your patience and cooperation.

                        Best regards,  
                        [Your Support Team]
                      metadata:
                        version: 1
                        createdAt: '2025-07-25T10:30:27.167Z'
                        modifiedAt: '2025-07-25T10:31:14.509Z'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves agent jobs.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Job
  '/ai-service/{tenant}/jobs/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching jobs
      operationId: POST-ai-search-jobs
      responses:
        '200':
          description: List of available jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
              examples:
                Jobs:
                  value:
                    - id: 68835cc3ef4e8e1425c360ad
                      status: success
                      sessionId: 123e4567-e89b-12d3-a456-426614174000
                      agentType: complaint
                      type: AGENT_CHAT
                      agentId: complaint-agent
                      commerceEvent: product.product-updated
                      message: |-
                        Dear Customer,

                        We have successfully processed your support request regarding the incorrect information on invoice EIN251131 for order EON1031. Our team has verified the order and customer details, confirming both the order and legal entity were found.
                        Thank you for your patience and cooperation.

                        Best regards,  
                        [Your Support Team]
                      metadata:
                        version: 1
                        createdAt: '2025-07-25T10:30:27.167Z'
                        modifiedAt: '2025-07-25T10:31:14.509Z'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        Searches for agent jobs based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Job
  '/ai-service/{tenant}/jobs/{jobId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: jobId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/fields'
      summary: Retrieving available job
      operationId: GET-ai-job
      responses:
        '200':
          description: A job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
              examples:
                Jobs:
                  value:
                    id: 68835cc3ef4e8e1425c360ad
                    status: success
                    sessionId: 123e4567-e89b-12d3-a456-426614174000
                    agentType: complaint
                    type: AGENT_CHAT
                    agentId: complaint-agent
                    commerceEvent: product.product-updated
                    message: |-
                      Dear Customer,

                      We have successfully processed your support request regarding the incorrect information on invoice EIN251131 for order EON1031. Our team has verified the order and customer details, confirming both the order and legal entity were found.
                      Thank you for your patience and cooperation.

                      Best regards,  
                      [Your Support Team]
                    metadata:
                      version: 1
                      createdAt: '2025-07-25T10:30:27.167Z'
                      modifiedAt: '2025-07-25T10:31:14.509Z'

        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Retrieves agent job by its ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Job
    delete:
      summary: Deleting a job
      operationId: DELETE-ai-job
      responses:
        '204':
          description: Given job has been deleted.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Deletes job by given ID.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - Job
  '/ai-service/{tenant}/agentic/chat':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
          format: uuid
        name: session-id
        in: header
        description: Unique session identifier which allows for storing the context of the chat. If not provided, the system generates it.
    post:
      summary: Starting agent chat
      operationId: POST-ai-agents-chat
      responses:
        '200':
          description: Chat response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatResponse'
              examples:
                JobId:
                  value:
                    - agentId: complaint-agent
                      agentType: complaint
                      message: Found an order with its details.
                      sessionId: fe91d168-4ce9-4b4d-8451-0029035b34a5
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '500':
          $ref: '#/components/responses/500_resp_common'
      description: |-
        Allows for communication with Emporix agents.
      security:
        - OAuth2:
            - ai.agentexecution_manage_own
            - ai.agentexecution_manage
      requestBody:
        $ref: '#/components/requestBodies/AgenticChat'
      tags:
        - Agent Chat
  '/ai-service/{tenant}/agentic/chat-stream':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
          format: uuid
        name: session-id
        in: header
        description: Unique session identifier which allows for storing the context of the chat. If not provided, the system generates it.
      - schema:
          type: string
          example: text/event-stream
        name: Accept
        in: header
        required: false
        description: Use `text/event-stream` to receive the response as a Server-Sent Events stream.
    post:
      summary: Starting agent chat stream
      operationId: POST-ai-agents-chat-stream
      responses:
        '200':
          description: Chat response stream.
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '500':
          $ref: '#/components/responses/500_resp_common'
      description: |-
        Allows for communication with Emporix agents using a Server-Sent Events stream.
      security:
        - OAuth2:
            - ai.agentexecution_manage_own
            - ai.agentexecution_manage
      requestBody:
        $ref: '#/components/requestBodies/AgenticChat'
      tags:
        - Agent Chat
  '/ai-service/{tenant}/agentic/chat-async':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
          format: uuid
        name: session-id
        in: header
        description: Unique session identifier which allows for storing the context of the chat. If not provided, the system generates it.
    post:
      summary: Starting agent async chat
      operationId: POST-ai-agents-chat-async
      responses:
        '201':
          description: Job ID response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobIdResponse'
              examples:
                JobId:
                  value:
                    jobId: 68835cc3ef4e8e1425c360ad
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '500':
          $ref: '#/components/responses/500_resp_common'
      description: |-
        Allows for communication with Emporix agents in async way.
      security:
        - OAuth2:
            - ai.agentexecution_manage_own
            - ai.agentexecution_manage
      requestBody:
        $ref: '#/components/requestBodies/AgenticChat'
      tags:
        - Agent Chat
  '/ai-service/{tenant}/agentic/{agentId}/attachments':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: agentId
        in: path
        required: true
      - schema:
          type: string
          format: uuid
        name: session-id
        in: header
        description: Unique session identifier which allows for storing the context of the chat. If not provided, the system generates it.
    post:
      summary: Uploading attachment
      operationId: POST-ai-agents-upload-attachment
      responses:
        '201':
          description: Attachment response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
              examples:
                AttachmentId:
                  value:
                    id: 68835cc3ef4e8e1425c360ad
                    sessionId: 0499bef6-a4d2-45b9-86a0-2edf7d70d726
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '500':
          $ref: '#/components/responses/500_resp_common'
      description: |-
        Allows for upload of a file and assign it to the agent. Supported file extensions:
          - jpg
          - jpeg
          - png
          - pdf
          - csv
          - text
          - txt
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                attachment:
                  type: string
                  format: binary
                  description: Content of the file.
              required:
                - attachment
      tags:
        - Agent Chat
  '/ai-service/{tenant}/agentic/templates':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/header_xTotalCount'
      - $ref: '#/components/parameters/header_Accept-Language'
    get:
      summary: Listing available agent templates
      operationId: GET-ai-list-templates
      responses:
        '200':
          description: List of available agent templates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentTemplateResponse'
              examples:
                Agent Templates Response:
                  $ref: '#/components/examples/AgentTemplatesResponse'
        '400':
          $ref: '#/components/responses/401_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves agent templates which can be later use as a base for custom agents.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Template
  '/ai-service/{tenant}/agentic/templates/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/header_xTotalCount'
      - $ref: '#/components/parameters/header_Accept-Language'
    post:
      summary: Searching agent templates
      operationId: POST-ai-search-templates
      responses:
        '200':
          description: List of available agent templates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentTemplateResponse'
              examples:
                Agent Templates Response:
                  $ref: '#/components/examples/AgentTemplatesResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Searches for agent templates based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      tags:
        - Agent Template
  '/ai-service/{tenant}/agentic/templates/{templateId}/agents':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/header_Content-Language'
      - schema:
          type: string
        name: templateId
        in: path
        required: true
    post:
      summary: Creating agent instance based on a template
      operationId: POST-ai-clone-template
      requestBody:
        $ref: '#/components/requestBodies/AgentFromTemplateRequest'
      responses:
        '201':
          description: ID of the created agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Agent Based on Template Response:
                  $ref: '#/components/examples/IdResponse'
        '400':
          $ref: '#/components/responses/401_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Creates an instance of the agent based of the given agent template.

        **Info:** Only active templates can be cloned.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - Agent Template
  '/ai-service/{tenant}/agentic/agents':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/header_Accept-Language'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing agents
      operationId: GET-ai-list-agents
      responses:
        '200':
          description: List of agents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentResponse'
              examples:
                Agents Response:
                  $ref: '#/components/examples/AgentsResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves agent templates based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent
  '/ai-service/{tenant}/agentic/agents/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/header_Accept-Language'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/expand'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching agents
      operationId: POST-ai-search-agents
      responses:
        '200':
          description: List of agents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentResponse'
              examples:
                Agents Response:
                  $ref: '#/components/examples/AgentsResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        Searches for agents based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent
  '/ai-service/{tenant}/agentic/agents/{agentId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: agentId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/header_Accept-Language'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/expand'
      summary: Retrieving agent by ID
      operationId: GET-ai-retrieve-agent
      responses:
        '200':
          description: A single agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
              examples:
                Agent Response:
                  $ref: '#/components/examples/AgentResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Retrieves the agent by given ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent
    put:
      parameters:
        - $ref: '#/components/parameters/header_Content-Language'
      summary: Upserting agent
      operationId: PUT-ai-agent
      responses:
        '201':
          description: ID of created agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Cloned Agent Template Response:
                  $ref: '#/components/examples/IdResponse'
        '204':
          description: The resource has been successfully updated.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
        '409':
          $ref: '#/components/responses/409_resp_common'
      description: |-
        Updates or creates a specified product by replacing all of its existing data with data from the request body.
        If the `metadata.version` is provided then optimistic locking is enabled and version must match the version in the database.
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/agentUpsertBody'
      tags:
        - Agent
    patch:
      summary: Partially updating agent
      operationId: PATCH-ai-update-agent
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Partially updates a single agent document with given information.
        Single update may contain multiple partial updates in the form of an array. It contains the allowed operations list:
          - `add` (adding an item to the items list)
          - `remove` (removing an item from the items list)
          - `replace` (replacing an item with given ID with new definition)
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/agentPatchBody'
      tags:
        - Agent
    delete:
      summary: Deleting agent
      operationId: DELETE-ai-delete-agent
      parameters:
        - $ref: '#/components/parameters/force'
      responses:
        '204':
          description: Given agent has been deleted.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Deletes agent by given ID.

        ***Important***: If an agent is being used by another agent as collaboration agent then delete operation is not possible without `force` flag set to `true`.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - Agent
  '/ai-service/{tenant}/agentic/conversations':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing conversations
      operationId: GET-ai-list-conversations
      responses:
        '200':
          description: List of conversations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConversationResponse'
              examples:
                Conversations Response:
                  $ref: '#/components/examples/ConversationsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Retrieves agent conversations based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Conversation
  '/ai-service/{tenant}/agentic/conversations/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching conversations
      operationId: POST-ai-search-conversations
      responses:
        '200':
          description: List of conversations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConversationResponse'
              examples:
                Conversations Response:
                  $ref: '#/components/examples/ConversationsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Searches for agent conversations based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Conversation
  '/ai-service/{tenant}/agentic/tools':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/header_xTotalCount'
      - $ref: '#/components/parameters/expandTool'
    get:
      summary: Listing tools
      operationId: GET-ai-list-tools
      responses:
        '200':
          description: List of tools.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NativeToolsResponse'
              examples:
                Tools Response:
                  $ref: '#/components/examples/SlackNativeToolsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves tools based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Tool
  '/ai-service/{tenant}/agentic/tools/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/header_xTotalCount'
        - $ref: '#/components/parameters/expandTool'
      summary: Searching tools
      operationId: POST-ai-search-tools
      responses:
        '200':
          description: List of tools.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NativeToolsResponse'
              examples:
                Tools Response:
                  $ref: '#/components/examples/SlackNativeToolsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        Searches for tools based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Tool
  '/ai-service/{tenant}/agentic/tools/{toolId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: toolId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/expandTool'
      summary: Retrieving tool by ID
      operationId: GET-ai-retrieve-tool
      responses:
        '200':
          description: A single tool.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SlackNativeToolResponse'
                  - $ref: '#/components/schemas/RagCustomNativeToolResponse'
                  - $ref: '#/components/schemas/RagEmporixNativeToolResponse'
                  - $ref: '#/components/schemas/TeamsNativeToolResponse'
              examples:
                Tool Response:
                  $ref: '#/components/examples/SlackNativeToolResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Retrieves the tool by given ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Tool
    put:
      summary: Upserting tool
      parameters:
        - $ref: '#/components/parameters/forceDisable'
      operationId: PUT-ai-upsert-tool
      responses:
        '201':
          description: ID of created tool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Id Of Created Tool:
                  $ref: '#/components/examples/IdResponse'
        '204':
          description: The resource has been successfully updated.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
        '409':
          $ref: '#/components/responses/409_resp_common'
      description: |-
        Updates or creates a specified tool by replacing all of its existing data with data from the request body.
        If the `metadata.version` is provided then optimistic locking is enabled and version must match the version in the database.

        ![Preview](https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png)

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        The `teams` native tool type and its configuration fields are in preview. Slack `config.defaultInboundAgentId` and `config.allowedOperations` are in preview.
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/toolUpsertBody'
      tags:
        - Tool
    patch:
      summary: Partially updating tool
      parameters:
        - $ref: '#/components/parameters/forceDisable'
      operationId: PATCH-ai-update-tool
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Partially updates a single tool document with given information.
        Single update may contain multiple partial updates in the form of an array. It contains the allowed operations list:
          - `add` (adding an item to the items list)
          - `remove` (removing an item from the items list)
          - `replace` (replacing an item with given ID with new definition)
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/toolPatchBody'
      tags:
        - Tool
    delete:
      parameters:
        - $ref: '#/components/parameters/force'
      summary: Deleting tool
      operationId: DELETE-ai-delete-tool
      responses:
        '204':
          description: Given tool has been deleted.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Deletes tool by given ID.

        ***Important***: If tool is being used by an agent then delete operation is not possible without `force` flag set to `true`.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - Tool
  '/ai-service/{tenant}/agentic/tokens':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing tokens
      operationId: GET-ai-list-tokens
      responses:
        '200':
          description: List of tokens.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenResponse'
              examples:
                Tokens Response:
                  $ref: '#/components/examples/TokensResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves tokens based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Token
  '/ai-service/{tenant}/agentic/tokens/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching tokens
      operationId: POST-ai-search-tokens
      responses:
        '200':
          description: List of tokens.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenResponse'
              examples:
                Tokens Response:
                  $ref: '#/components/examples/TokensResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        Searches for tokens based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Token
  '/ai-service/{tenant}/agentic/tokens/{tokenId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: tokenId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/fields'
      summary: Retrieving token by ID
      operationId: GET-ai-retrieve-token
      responses:
        '200':
          description: A single token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              examples:
                Tool Response:
                  $ref: '#/components/examples/TokenResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Retrieves the token by given ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Token
    put:
      summary: Upserting token
      operationId: PUT-ai-upsert-token
      responses:
        '201':
          description: ID of created token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Id Of Created Tool:
                  $ref: '#/components/examples/IdResponse'
        '204':
          description: The resource has been successfully updated.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
        '409':
          $ref: '#/components/responses/409_resp_common'
      description: |-
        Updates or creates a specified token by replacing all of its existing data with data from the request body.
        If the `metadata.version` is provided then optimistic locking is enabled and version must match the version in the database.

        **Important**: The `value` field cannot be updated, once created token cannot change `value` field.
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/tokenUpsertBody'
      tags:
        - Token
    patch:
      summary: Partially updating token
      operationId: PATCH-ai-update-token
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Partially updates a single token document with given information.
        Single update may contain multiple partial updates in the form of an array. It contains the allowed operations list:
          - `add` (adding an item to the items list)
          - `remove` (removing an item from the items list)
          - `replace` (replacing an item with given ID with new definition)

        **Important**: The `value` field cannot be updated, once created token cannot change `value` field.
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/tokenPatchBody'
      tags:
        - Token
    delete:
      parameters:
        - $ref: '#/components/parameters/force'
      summary: Deleting token
      operationId: DELETE-ai-delete-token
      responses:
        '204':
          description: Given token has been deleted.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Deletes tokens by given ID.


        ***Important***: If a token is being used by an agent or by an MCP server, then delete operation is not possible without `force` flag set to `true`.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - Token
  '/ai-service/{tenant}/agentic/oauths':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/expandOAuth'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing OAuth configurations
      operationId: GET-ai-list-oauths
      responses:
        '200':
          description: List of OAuth configurations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OAuthResponse'
              examples:
                OAuths Response:
                  $ref: '#/components/examples/OAuthsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Retrieves OAuth configurations based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - OAuth
  '/ai-service/{tenant}/agentic/oauths/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/expandOAuth'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching OAuth configurations
      operationId: POST-ai-search-oauths
      responses:
        '200':
          description: List of OAuth configurations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OAuthResponse'
              examples:
                OAuths Response:
                  $ref: '#/components/examples/OAuthsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Searches for OAuth configurations based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - OAuth
  '/ai-service/{tenant}/agentic/oauths/{oauthId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: oauthId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/expandOAuth'
      summary: Retrieving OAuth configuration by ID
      operationId: GET-ai-retrieve-oauth
      responses:
        '200':
          description: A single OAuth configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthResponse'
              examples:
                OAuth Response:
                  $ref: '#/components/examples/OAuthResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Retrieves the OAuth configuration by a given ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - OAuth
    put:
      summary: Upserting OAuth configuration
      parameters:
        - $ref: '#/components/parameters/forceDisable'
      operationId: PUT-ai-upsert-oauth
      responses:
        '201':
          description: ID of created OAuth configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Id Of Created OAuth:
                  $ref: '#/components/examples/IdResponse'
        '204':
          description: The resource has been successfully updated.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
        '409':
          $ref: '#/components/responses/409_resp_common'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Updates or creates a specified OAuth configuration by replacing all of its existing data with data from the request body.
        If the `metadata.version` is provided, then optimistic locking is enabled and version must match the version in the database.

        Currently only the `client_credentials` grant type is supported.
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/oauthUpsertBody'
      tags:
        - OAuth
    patch:
      summary: Partially updating OAuth configuration
      parameters:
        - $ref: '#/components/parameters/forceDisable'
      operationId: PATCH-ai-update-oauth
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Partially updates a single OAuth configuration document with given information.
        Single update may contain multiple partial updates in the form of an array. It contains the allowed operations list:
          - `add` (adding an item to the items list)
          - `remove` (removing an item from the items list)
          - `replace` (replacing an item with given ID with new definition)
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/oauthPatchBody'
      tags:
        - OAuth
    delete:
      parameters:
        - $ref: '#/components/parameters/force'
      summary: Deleting OAuth configuration
      operationId: DELETE-ai-delete-oauth
      responses:
        '204':
          description: Given OAuth configuration has been deleted.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        <p align="left"><img src="https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png" alt=""></p>

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Deletes OAuth configuration by given ID.

        ***Important***: If an OAuth configuration is being used by an agent, then delete operation is not possible without `force` flag set to `true`.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - OAuth
  '/ai-service/{tenant}/agentic/models':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    get:
      summary: Listing LLM models from supported providers
      operationId: GET-ai-list-models
      responses:
        '200':
          description: List of models grouped by LLM provider.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderModelsResponse'
              examples:
                Provider Models Response:
                  $ref: '#/components/examples/ProviderModelsResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves available LLM models from supported LLM providers: OpenAI, Anthropic, and Google.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Model
  '/ai-service/{tenant}/agentic/mcp-servers':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/expandMcpServer'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing MCP servers
      operationId: GET-ai-list-mcp-servers
      responses:
        '200':
          description: List of MCP servers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/McpServerResponse'
              examples:
                Mcp Servers Response:
                  $ref: '#/components/examples/McpServersResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves MCP servers based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - MCP Server
  '/ai-service/{tenant}/agentic/mcp-servers/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/expandMcpServer'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching MCP servers
      operationId: POST-ai-search-mcp-servers
      responses:
        '200':
          description: List of MCP servers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/McpServerResponse'
              examples:
                Tokens Response:
                  $ref: '#/components/examples/McpServersResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        Searches for MCP servers based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - MCP Server
  '/ai-service/{tenant}/agentic/mcp-servers/{mcpServerId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: mcpServerId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/expandMcpServer'
      summary: Retrieving MCP server by ID
      operationId: GET-ai-retrieve-mcp-server
      responses:
        '200':
          description: A single mcp server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerResponse'
              examples:
                MCP Server Response:
                  $ref: '#/components/examples/McpServerResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Retrieves the MCP server by a given ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - MCP Server
    put:
      summary: Upserting MCP server
      parameters:
        - $ref: '#/components/parameters/forceDisable'
      operationId: PUT-ai-upsert-mcp-server
      responses:
        '201':
          description: ID of created MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Id Of Created Mcp Server:
                  $ref: '#/components/examples/IdResponse'
        '204':
          description: The resource has been successfully updated.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
        '409':
          $ref: '#/components/responses/409_resp_common'
      description: |-
        Updates or creates a specified MCP server by replacing all of its existing data with data from the request body.
        If the `metadata.version` is provided, then optimistic locking is enabled and version must match the version in the database.

        ***Important***: If MCP server is being used by an enabled agent then disabling MCP is not possible without `force` flag set to `true`. Only then the agent and MCP server are disabled.

        The `type: dynamic` value and its `tools` definitions are in preview. When upserting an enabled dynamic MCP server, each tool's `config.invocation.functionId` is validated against the Automation service. The request returns `400` when a referenced function does not exist on the tenant.

        {% hint style="danger" %}
        Hosting of cloud functions and use of dynamic MCP servers is not included in standard billing plans and is billed separately on a pay-as-you-go basis. If you're interested in getting access to these features, contact the [Sales Team](mailto:support@emporix.com).
        {% endhint %}
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/mcpServerUpsertBody'
      tags:
        - MCP Server
    patch:
      summary: Partially updating MCP server
      parameters:
        - $ref: '#/components/parameters/force'
      operationId: PATCH-ai-update-mcp-server
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Partially updates a single mcp server document with given information.
        Single update may contain multiple partial updates in the form of an array. It contains the allowed operations list:
          - `add` (adding an item to the items list)
          - `remove` (removing an item from the items list)
          - `replace` (replacing an item with given ID with new definition)

        ***Important***: If an MCP server is being used by an enabled agent then disabling MCP is not possible without `force` flag set to `true`. Only then the agent and MCP server are disabled.
      security:
        - OAuth2:
            - ai.agent_manage
      requestBody:
        $ref: '#/components/requestBodies/mcpServerPatchBody'
      tags:
        - MCP Server
    delete:
      parameters:
        - $ref: '#/components/parameters/force'
      summary: Deleting MCP server
      operationId: DELETE-ai-delete-mcp-server
      responses:
        '204':
          description: Given mcp server has been deleted.
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Deletes MCP server by given ID. 

        ***Important***: If MCP server is being used by an agent then delete operation is not possible without `force` flag set to `true`.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - MCP Server
  '/ai-service/{tenant}/agentic/commerce-events':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    get:
      summary: Listing commerce events
      operationId: GET-ai-commerce-events
      responses:
        '200':
          description: List of available commerce events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceEventsResponse'
              examples:
                Tools Response:
                  $ref: '#/components/examples/CommerceEventsResponse'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves commerce events available for agents with `COMMERCE_EVENTS` trigger.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Commerce Events
  '/ai-service/{tenant}/agentic/agents/export':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      summary: Exporting agents
      operationId: POST-ai-export-agents
      requestBody:
        $ref: '#/components/requestBodies/exportRequestBody'
      responses:
        '200':
          description: The exported agents with components.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponse'
              examples:
                Import Response:
                  $ref: '#/components/examples/ExportResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Exports the agents by IDs.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Import/Export
  '/ai-service/{tenant}/agentic/agents/import':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      summary: Importing agents
      operationId: POST-ai-import-agents
      requestBody:
        $ref: '#/components/requestBodies/importRequestBody'
      responses:
        '200':
          description: A single agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportResponse'
              examples:
                Import Response:
                  $ref: '#/components/examples/ImportResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Imports the agents from the base64 encoded data.
      security:
        - OAuth2:
            - ai.agent_manage
      tags:
        - Import/Export
  '/ai-service/{tenant}/agentic/logs/requests':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing agent requests
      operationId: GET-ai-list-requests
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_agent_requests'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves agent requests based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Logs
  '/ai-service/{tenant}/agentic/logs/requests/{requestId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: requestId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/fields'
      summary: Retrieving agent request by ID
      operationId: GET-ai-retrieve-request
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_agent_request'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Retrieves the agent request by given ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Logs
  '/ai-service/{tenant}/agentic/logs/requests/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching agent requests
      operationId: POST-ai-search-requests
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_agent_requests'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        Searches for agent requests based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Logs
  '/ai-service/{tenant}/agentic/logs/sessions':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/qParam'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/header_xTotalCount'
    get:
      summary: Listing agent sessions
      operationId: GET-ai-list-sessions
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_agent_sessions'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Retrieves agent sessions based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Logs
  '/ai-service/{tenant}/agentic/logs/sessions/{sessionId}':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - schema:
          type: string
        name: sessionId
        in: path
        required: true
    get:
      parameters:
        - $ref: '#/components/parameters/fields'
      summary: Retrieving agent session by ID
      operationId: GET-ai-retrieve-session
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_agent_session'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
        '404':
          $ref: '#/components/responses/404_resp_common'
      description: |-
        Retrieves the agent session by given ID.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Logs
  '/ai-service/{tenant}/agentic/logs/sessions/search':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/header_xTotalCount'
      summary: Searching agent sessions
      operationId: POST-ai-search-sessions
      responses:
        '200':
          $ref: '#/components/responses/200_resp_GET_agent_sessions'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      requestBody:
        $ref: '#/components/requestBodies/QParamSearchBody'
      description: |-
        Searches for agent sessions based on the provided query.
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Logs
  '/ai-service/{tenant}/agentic/analytics':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    get:
      summary: Retrieving agent analytics bundle for last four weeks
      operationId: GET-ai-agentic-analytics
      parameters:
        - name: agentId
          in: query
          required: false
          schema:
            type: string
          description: |
            When set, metrics are scoped to this agent. When omitted, tenant-wide aggregates are returned.
      responses:
        '200':
          description: Aggregated request and session metrics, resolution efficiency, and weekly trends.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAnalyticsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Returns a single bundle of analytics for dashboards: request and session aggregates (including severity breakdowns), resolution efficiency, and per-week session error trends.

        ### Required scopes

        * `ai.agent_read`
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Analytics
  '/ai-service/{tenant}/agentic/analytics/executions':
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    get:
      summary: Retrieving per-agent execution counts by period
      operationId: GET-ai-agentic-analytics-executions
      parameters:
        - name: agentIds
          in: query
          required: true
          schema:
            type: string
          description: |
            Comma-separated list of agent IDs (no spaces). Maximum 100 IDs.
        - name: granularity
          in: query
          required: false
          schema:
            type: string
            enum:
              - QUARTER
              - MONTH
              - WEEK
            default: QUARTER
          description: Time bucket for each period (UTC).
      responses:
        '200':
          description: Per-agent execution counts aligned to the returned periods.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionsResponse'
        '400':
          $ref: '#/components/responses/400_resp_common'
        '401':
          $ref: '#/components/responses/401_resp_common'
        '403':
          $ref: '#/components/responses/403_resp_common'
      description: |-
        Returns execution (session) counts per agent for each calendar period (quarter, month, or week).

        ### Required scopes

        * `ai.agent_read`
      security:
        - OAuth2:
            - ai.agent_read
      tags:
        - Agent Analytics
components:
  schemas:
    ErrorMessage:
      type: object
      properties:
        code:
          type: integer
        type:
          type: string
        message:
          type: string
        moreInfo:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              type:
                type: string
              message:
                type: string
              moreInfo:
                type: string
      description: ''
    ErrorMessageFault:
      type: object
      properties:
        fault:
          type: object
          properties:
            faultstring:
              type: string
            detail:
              type: object
              properties:
                errorcode:
                  type: string
    AgenticRequest:
      type: object
      properties:
        agentId:
          type: string
          description: Unique identifier of the agent.
        message:
          type: string
          description: The user message to the agent.
        attachments:
          type: array
          items:
            type: object
            properties:
              attachmentId:
                type: string
                description: Id of the attachment.
              caption:
                type: string
                description: Caption of the attachment.
              purpose:
                type: string
                description: Purpose of the attachment.
            required:
              - attachmentId
      required:
        - agentId
        - message
    AgentType:
      type: string
      description: Type of the agent handling the request.
      enum:
        - generic
        - complaint
        - anti_fraud
    TextGenerationRequest:
      title: TextGenerationRequest
      type: object
      description: Represents a request body for a text generation operation.
      required:
        - prompt
      properties:
        id:
          type: string
          description: Identifier of the request. The value is not mandatory - if provided, the ID is returned in the text generation response.
        prompt:
          type: string
          description: A prompt to AI engine. A desired text content is generated based on the prompt.
        maxTokens:
          type: integer
          description: Maximum number of tokens that should be used during text generation. If not provided, then 4097 is used.
    IdResponse:
      type: object
      properties:
        id:
          type: string
          description: Identifier of the resource.

    # Tokens:
    ExpandedTokenResponse:
      allOf:
        - $ref: '#/components/schemas/IdResponse'
        - type: object
          properties:
            name:
              type: string
              description: Name of the token.
            metadata:
              $ref: '#/components/schemas/MetadataResponse'
    ExpandableTokenResponse:
      oneOf:
        - $ref: '#/components/schemas/IdResponse'
        - $ref: '#/components/schemas/ExpandedTokenResponse'
      description: The full response representing token. If the `expand=token` is **not** used, then only `id` field is returned, otherwise all fields are returned.

    # Native Tools:
    NativeToolType:
      type: string
      enum: [ slack, rag_custom, rag_emporix, teams ]
      description: |-
        Type of the native tool. Possible values:
        * `slack`
        * `rag_custom`
        * `rag_emporix`
        * `teams`

          **The `teams` value is in preview mode** - some of the features may not be fully operational yet.
          Slack fields `defaultInboundAgentId` and `allowedOperations` are in preview.
    BaseNativeTool:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/NativeToolType'
        name:
          type: string
          description: Name of the tool.
        enabled:
          type: boolean
          description: An indicator whether the tool is enabled.
          default: false
      required:
        - type
        - name
    RagCustomEmbeddingNativeToolConfig:
      type: object
      properties:
        model:
          type: string
          description: Name of the OpenAI LLM model which should be used to create embedding of user's input in order to perform search operation.
      required:
        - model
    RagCustomEmbeddingNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/RagCustomEmbeddingNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/IdWrapperRequest'
          required:
            - token
    RagCustomEmbeddingNativeToolConfigResponse:
      allOf:
        - $ref: '#/components/schemas/RagCustomEmbeddingNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/ExpandableTokenResponse'
    RagCustomDatabaseType:
      type: string
      enum: [ qdrant ]
      description: Type of the database.
    RagEntityType:
      type: string
      enum: [ product ]
      description: Type of the entity which is stored in the given collection.
    RagCustomDatabaseNativeToolConfig:
      type: object
      properties:
        url:
          type: string
          description: URL of the database.
        type:
          allOf:
            - $ref: '#/components/schemas/RagCustomDatabaseType'
        entityType:
          allOf:
            - $ref: '#/components/schemas/RagEntityType'
        collectionName:
          type: string
          description: Name of the database collection.
      required:
        - url
        - type
        - entityType
        - collectionName
    RagCustomDatabaseNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/RagCustomDatabaseNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/IdWrapperRequest'
          required:
            - token
    RagCustomDatabaseNativeToolConfigResponse:
      allOf:
        - $ref: '#/components/schemas/RagCustomDatabaseNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/ExpandableTokenResponse'
    RagCustomNativeToolConfig:
      type: object
      properties:
        prompt:
          type: string
          description: The prompt for an agent. It should define when and why this tool is to be called.
        maxResults:
          type: integer
          default: 5
          description: The maximum number of results found in the Vector Database.
      required:
        - prompt
    RagCustomNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/RagCustomNativeToolConfig'
        - type: object
          properties:
            databaseConfig:
              $ref: '#/components/schemas/RagCustomDatabaseNativeToolConfigRequest'
            embeddingConfig:
              $ref: '#/components/schemas/RagCustomEmbeddingNativeToolConfigRequest'
          required:
            - databaseConfig
            - embeddingConfig
    RagCustomNativeToolConfigResponse:
      allOf:
        - $ref: '#/components/schemas/RagCustomNativeToolConfig'
        - type: object
          properties:
            databaseConfig:
              $ref: '#/components/schemas/RagCustomDatabaseNativeToolConfigResponse'
            embeddingConfig:
              $ref: '#/components/schemas/RagCustomEmbeddingNativeToolConfigResponse'

    RagLlmProvider:
      type: string
      enum: [ emporix_openai, openai, self_hosted_ollama ]
    EmporixOpenAiRagEmporixEmbeddingNativeToolConfig:
      type: object
      properties:
        provider:
          allOf:
            - $ref: '#/components/schemas/RagLlmProvider'
          description: For this type, it should be set to 'emporix_openai'.
      required:
        - provider
    OpenAiRagEmporixEmbeddingNativeToolConfig:
      type: object
      properties:
        provider:
          allOf:
            - $ref: '#/components/schemas/RagLlmProvider'
          description: For this type, it should be set to 'emporix_openai'.
        model:
          type: string
          description: OpenAI LLM model to be used for generating embeddings for indexed products and user's input query.
        dimensions:
          type: integer
          description: Number of dimensions of embedding.
          minimum: 128
          maximum: 4096
      required:
        - provider
        - model
        - dimensions
    OpenAiRagEmporixEmbeddingNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/OpenAiRagEmporixEmbeddingNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/IdWrapperRequest'
          required:
            - token
    OpenAiRagEmporixEmbeddingNativeToolConfigResponse:
      allOf:
        - $ref: '#/components/schemas/OpenAiRagEmporixEmbeddingNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/ExpandableTokenResponse'
    SelfHostedOllamaRagEmporixEmbeddingNativeToolConfig:
      type: object
      properties:
        provider:
          allOf:
            - $ref: '#/components/schemas/RagLlmProvider'
          description: For this type, it should be set to 'self_hosted_ollama'.
        model:
          type: string
          description: Ollama LLM model to be used for generating embeddings for indexed products and user's input query.
        dimensions:
          type: integer
          description: Number of dimensions of embedding.
          minimum: 128
          maximum: 4096
        url:
          type: string
          description: Base URL where Ollama is hosted.
      required:
        - provider
        - model
        - dimensions
        - url
    SelfHostedOllamaRagEmporixEmbeddingNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/SelfHostedOllamaRagEmporixEmbeddingNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/IdWrapperRequest'
          required:
            - token
    SelfHostedOllamaRagEmporixEmbeddingNativeToolConfigResponse:
      allOf:
        - $ref: '#/components/schemas/SelfHostedOllamaRagEmporixEmbeddingNativeToolConfig'
        - type: object
          properties:
            token:
              $ref: '#/components/schemas/ExpandableTokenResponse'
    RagEmporixNativeToolConfig:
      type: object
      properties:
        prompt:
          type: string
          description: The prompt for an agent. It should define when and why this tool is to be called.
        entityType:
          type: string
          description: "Type of the entity which is stored in the given collection. Supported predefined types: [ORDER, PRODUCT] and custom entity types."
        indexedFields:
          type: array
          description: This field specifies the fields of the given entityType that are used for generating embeddings. The provided values are then concatenated and converted to embeddings.
          items:
            type: object
            properties:
              name:
                type: string
                description: It can act as an alias for the field key. For example, if the 'name.en' key is provided then its alias could be 'English Name' and that value is used in embedding input.
              key:
                type: string
                description: Unique value representing the entityType key.
            required:
              - key
        filterFields:
          type: array
          description: This field specifies the fields of the given entityType that are used for filtering the data before performing actual search.
          items:
            type: object
            properties:
              description:
                type: string
                description: It should contain the description of the field, so LLM is able to know when to use this field in order to filter the data. For enums, possible values should be specified here.
              key:
                type: string
                description: Unique value representing the entityType key.
            required:
              - key
      required:
        - prompt
        - entityType
        - indexedFields
    RagEmporixNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/RagEmporixNativeToolConfig'
        - type: object
          properties:
            embeddingConfig:
              oneOf:
                - $ref: '#/components/schemas/EmporixOpenAiRagEmporixEmbeddingNativeToolConfig'
                - $ref: '#/components/schemas/OpenAiRagEmporixEmbeddingNativeToolConfigRequest'
                - $ref: '#/components/schemas/SelfHostedOllamaRagEmporixEmbeddingNativeToolConfigRequest'
          required:
            - embeddingConfig
    RagEmporixNativeToolConfigResponse:
      allOf:
        - $ref: '#/components/schemas/RagEmporixNativeToolConfig'
        - type: object
          properties:
            embeddingConfig:
              oneOf:
                - $ref: '#/components/schemas/EmporixOpenAiRagEmporixEmbeddingNativeToolConfig'
                - $ref: '#/components/schemas/OpenAiRagEmporixEmbeddingNativeToolConfigResponse'
                - $ref: '#/components/schemas/SelfHostedOllamaRagEmporixEmbeddingNativeToolConfigResponse'

    SlackAllowedOperations:
      type: string
      enum:
        - sendMessage
        - createChannel
        - inviteParticipants
        - collaborateOnChannel
      description: |-
        ![Preview](https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png)

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Slack native tool operation identifier.
    SlackNativeToolConfigResponse:
      type: object
      description: |-
        ![Preview](https://res.cloudinary.com/saas-ag/image/upload/v1752824268/emporix/icons/preview_api1.png)

        {% hint style="danger" %}
        This functionality is in preview mode - some of the features may not be fully operational yet.
        {% endhint %}

        Configuration of a Slack native tool instance. Fields `defaultInboundAgentId` and `allowedOperations` are in preview.
      properties:
        teamId:
          type: string
          description: Unique identifier of the Slack workspace (team) associated with the request. Used to distinguish the source Slack environment when handling events or API calls.
        defaultInboundAgentId:
          type: string
          description: Agent ID that handles inbound Slack replies when no conversation-specific routing context exists yet. This field is in preview.
        allowedOperations:
          type: array
          items:
            $ref: '#/components/schemas/SlackAllowedOperations'
          description: Operations the tool instance exposes to assigned agents. At least one value is required when the tool is enabled. This field is in preview.
      required:
        - teamId
    SlackNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/SlackNativeToolConfigResponse'
        - type: object
          properties:
            botToken:
              type: string
              description: OAuth token used to authenticate the Slack bot within the specified workspace. Required for performing authorized actions on behalf of the bot. Format usually starts with `xoxb-...`. It is required only for creation, for update operation it can be omitted.
          required:
            - botToken
    SlackNativeToolRequest:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            type:
              description: For SlackNativeTool it has to be set to `slack`.
              example: slack
            config:
              $ref: '#/components/schemas/SlackNativeToolConfigRequest'
            metadata:
              $ref: '#/components/schemas/MetadataRequest'
          required:
            - config
    SlackNativeToolResponse:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            id:
              type: string
              description: Unique identifier of the tool.
            type:
              description: For SlackNativeTool it has to be set to `slack`.
              example: slack
            config:
              $ref: '#/components/schemas/SlackNativeToolConfigResponse'
            metadata:
              $ref: '#/components/schemas/MetadataResponse'
    TeamsAllowedOperations:
      type: string
      enum:
        - sendMessage
        - createChat
        - createChannel
        - inviteParticipants
        - collaborateOnChannel
        - collaborateOnChat
      description: MS Teams native tool operation identifier.
    TeamsNativeToolConfigResponse:
      type: object
      description: |-
        Configuration of an MS Teams native tool instance.

        **The MS Teams native tool configuration is in preview mode** - some of the features may not be fully operational yet.
      properties:
        teamId:
          type: string
          description: Microsoft Teams team ID the tool is bound to.
        tenantId:
          type: string
          description: Customer Azure AD tenant ID for the Teams workspace.
        defaultInboundAgentId:
          type: string
          description: Agent ID that handles inbound Teams replies when no conversation-specific owner is set.
        allowedOperations:
          type: array
          items:
            $ref: '#/components/schemas/TeamsAllowedOperations'
          description: Operations the tool instance exposes to assigned agents. At least one value is required when the tool is enabled.
      required:
        - teamId
    TeamsNativeToolConfigRequest:
      allOf:
        - $ref: '#/components/schemas/TeamsNativeToolConfigResponse'
    TeamsNativeToolRequest:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            type:
              description: For TeamsNativeTool it has to be set to `teams`.
              example: teams
            config:
              $ref: '#/components/schemas/TeamsNativeToolConfigRequest'
            metadata:
              $ref: '#/components/schemas/MetadataRequest'
          required:
            - config
    TeamsNativeToolResponse:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            id:
              type: string
              description: Unique identifier of the tool.
            type:
              description: For TeamsNativeTool it has to be set to `teams`.
              example: teams
            config:
              $ref: '#/components/schemas/TeamsNativeToolConfigResponse'
            metadata:
              $ref: '#/components/schemas/MetadataResponse'
    RagCustomNativeToolRequest:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            type:
              description: For `RagCustomNativeTool`, it has to be set to `rag_custom`.
              example: rag_custom
            config:
              $ref: '#/components/schemas/RagCustomNativeToolConfigRequest'
            metadata:
              $ref: '#/components/schemas/MetadataRequest'
          required:
            - config
    RagCustomNativeToolResponse:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            id:
              type: string
              description: Unique identifier of the tool.
            type:
              description: For `RagCustomNativeTool`, it has to be set to `rag_custom`.
              example: rag_custom
            config:
              $ref: '#/components/schemas/RagCustomNativeToolConfigResponse'
            metadata:
              $ref: '#/components/schemas/MetadataResponse'
    RagEmporixNativeToolRequest:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            type:
              description: For `RagEmporixNativeTool`, it has to be set to `rag_emporix`.
              example: rag_emporix
            config:
              $ref: '#/components/schemas/RagEmporixNativeToolConfigRequest'
            metadata:
              $ref: '#/components/schemas/MetadataRequest'
          required:
            - config
    RagEmporixNativeToolResponse:
      allOf:
        - $ref: '#/components/schemas/BaseNativeTool'
        - type: object
          properties:
            id:
              type: string
              description: Unique identifier of the tool.
            type:
              description: For `RagEmporixNativeTool`, it has to be set to `rag_emporix`.
              example: rag_emporix
            config:
              $ref: '#/components/schemas/RagEmporixNativeToolConfigResponse'
            metadata:
              $ref: '#/components/schemas/MetadataResponse'
    NativeToolsResponse:
      type: array
      description: List of native tools which agents should have access to.
      items:
        oneOf:
          - $ref: '#/components/schemas/SlackNativeToolResponse'
          - $ref: '#/components/schemas/RagCustomNativeToolResponse'
          - $ref: '#/components/schemas/RagEmporixNativeToolResponse'
          - $ref: '#/components/schemas/TeamsNativeToolResponse'

    ConversationResponse:
      type: object
      description: Represents an active agent conversation context (MS Teams channel or group chat).
      properties:
        conversationId:
          type: string
          description: Provider-side conversation identifier (Teams conversation ID).
        conversationName:
          type: string
          description: Human-readable name of the conversation channel or group chat.
        contextRef:
          type: string
          description: Caller-supplied reference key used to reuse an existing conversation.
        channelId:
[...]
