openapi: 3.0.0
info:
  title: Cart Service
  version: ''
  contact:
    email: documentation@emporix.com
  description: |-
    High performance, extensible cart that holds products for a later checkout.
tags:
  - name: Carts
    description: Manage Carts
  - name: Cart items
    description: Manage Cart items
  - name: Discounts
    description: Manage Discounts
servers:
  - url: 'https://api.emporix.io'
paths:
  '/cart/{tenant}/carts':
    post:
      responses:
        '201':
          description: The request was successful. Cart details are returned.
          headers:
            Location:
              description: Location of the newly created cart.
              schema:
                type: string
            Version:
              schema:
                type: integer
              description: Cart version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createdCart'
              examples:
                Response example:
                  value:
                    cartId: 65141d687308095e25ca0671
        '400':
          $ref: '#/components/responses/trait_400'
        '403':
          $ref: '#/components/responses/trait_403'
        '409':
          $ref: '#/components/responses/trait_conflict_409'
        '500':
          $ref: '#/components/responses/trait_500'
      description: |-
        Creates a new cart. When a cart is created, its status is set to `open`.

        **Note**: A customer can have multiple carts opened, but they have to be of a different type. The cart type is specified in the payload in the `type` property. It allows for different types of carts, such as shopping carts and wishlists.
        ***
        ### Additional scopes information

        *  `cart.cart_manage` - Use when you want to create a cart for a logged in customer.
      operationId: POST-cart-create-cart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCart'
            examples:
              Anonymous customer cart:
                value:
                  siteCode: main
                  currency: EUR
                  type: shopping
                  channel:
                    name: storefront
                    source: 'https://your-storefront.com/'
                  sessionValidated: true
              Logged in customer cart:
                value:
                  customerId: '87413250'
                  siteCode: main
                  type: shopping
                  deliveryWindow:
                    id: 5b5572a61cf31a000f31eee4
                    deliveryDate: '2023-06-06T12:00:00.000Z'
                    slotId: 5678-8756-3321-1234
                  channel:
                    name: storefront
                    source: 'https://your-storefront.com/'
                  currency: EUR
              Save-for-later cart type:
                value:
                  siteCode: main
                  currency: EUR
                  type: wishlist
                  channel:
                    name: storefront
                    source: 'https://your-storefront.com/'
                  customerId: '87413250'
                  legalEntityId: '6a0ec567145f4c66b6652a69'
        required: false
      security:
        - CustomerAccessToken: []
        - OAuth2: 
            - cart.cart_manage
      parameters:
        - $ref: '#/components/parameters/trait_tenant'
        - schema:
            type: string
          in: header
          name: session-id
          description: |
            Anonymous customer unique session identifier.

            **Note**: The `session-id` is only required if you want to create a cart for an anonymous customer.
        - schema:
            type: string
          in: header
          name: saas-token
          description: |
            Customer `saasToken` generated when the customer token is generated. 
      summary: Creating a new cart
      tags:
        - Carts
    get:
      responses:
        '200':
          description: The request was successful. Cart details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart'
              examples:
                Detailed cart with calculated prices:
                  value:
                    id: 68481e9e8bf22744fc578572
                    customerId: "45620894"
                    currency: EUR
                    siteCode: GrossSite
                    type: shopping
                    channel:
                      name: storefront
                      source: https://your-storefront.com/
                    items:
                      - id: "0"
                        keepAsSeparateLineItem: true
                        type: INTERNAL
                        product:
                          id: mobile-phone-s24-gross
                          sku: Mobile Phone s24 gross
                          code: Mobile Phone s24 gross
                          name: Mobile Phone s24 gross
                          localizedName:
                            en: Mobile Phone s24 gross
                          images:
                            - id: 67169928ceaab717e17f3734
                              url: http://res.cloudinary.com/saas-ag/image/upload/v1729534248/b2b2cstage/media/67169928ceaab717e17f3734
                        itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;mobile-phone-s24-gross
                        quantity: 2
                        effectiveQuantity: 2
                        price:
                          priceId: 679ca63dbcdefe5b380c98bc
                          priceListId: abc123
                          originalAmount: 350
                          effectiveAmount: 350
                          currency: EUR
                        unitPrice:
                          netValue: 294.118
                          grossValue: 350
                          taxValue: 55.882
                          taxCode: STANDARD
                          taxRate: 19
                        itemPrice:
                          amount: 700
                          currency: EUR
                        itemTaxInfo:
                          - name: STANDARD
                            value:
                              amount: 111.76
                            rate: 19
                            grossValue: 700
                            netValue: 588.24
                        fees:
                          elements:
                            - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                              taxCode: REDUCED
                              total:
                                subTotal: 3.5
                                totalTax: 0
                                total: 3.08
                                discount: 0.42
                              name:
                                de: Apple Picking Fee
                                en: Apple Picking Fee
                          total:
                            subTotal: 3.5
                            totalTax: 0
                            total: 3.08
                            discount: 0.42
                        authorizedAmount:
                          amount: 700
                          currency: EUR
                        totalDiscount:
                          amount: 84.32
                          currency: EUR
                        couponDiscounts:
                          - couponId: LS100EUROTOTAL
                            value: 84.32
                        externalDiscounts:
                          - id: buy-2-get-1-free
                            discountType: PERCENT
                            value: 40
                            sequence: 1
                        calculatedPrice:
                          price:
                            netValue: 588.235
                            grossValue: 700
                            taxValue: 111.765
                            taxCode: STANDARD
                            taxRate: 19
                          discountedPrice:
                            netValue: 282.511
                            grossValue: 336.188
                            taxValue: 53.677
                            taxCode: STANDARD
                            taxRate: 19
                            appliedDiscounts:
                              - id: buy-2-get-1-free
                                value: 280
                                price:
                                  netValue: 235.294
                                  grossValue: 280
                                  taxValue: 44.706
                                  taxCode: STANDARD
                                  taxRate: 19
                                discountType: PERCENT
                                origin: EXTERNAL
                              - id: LS100EUROTOTAL
                                value: 83.812
                                price:
                                  netValue: 70.43
                                  grossValue: 83.812
                                  taxValue: 13.382
                                  taxCode: STANDARD
                                  taxRate: 19
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          fees:
                            - id: 677d49ca3a421b451eab23f2
                              type: ABSOLUTE
                              origin: INTERNAL
                              name:
                                de: Apple Picking Fee
                                en: Apple Picking Fee
                              price:
                                netValue: 3.5
                                grossValue: 3.745
                                taxValue: 0.245
                                taxCode: REDUCED
                                taxRate: 7
                              discountedPrice:
                                netValue: 3.081
                                grossValue: 3.297
                                taxValue: 0.216
                                taxCode: REDUCED
                                taxRate: 7
                                appliedDiscounts:
                                  - id: LS100EUROTOTAL
                                    value: 0.448
                                    price:
                                      netValue: 0.419
                                      grossValue: 0.448
                                      taxValue: 0.029
                                      taxCode: REDUCED
                                      taxRate: 7
                                    discountType: ABSOLUTE
                                    origin: INTERNAL
                          totalFee:
                            netValue: 3.081
                            grossValue: 3.297
                            taxValue: 0.216
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 0.448
                                price:
                                  netValue: 0.419
                                  grossValue: 0.448
                                  taxValue: 0.029
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          totalDiscount:
                            calculationType: ApplyDiscountAfterTax
                            value: 364.26
                            price:
                              netValue: 306.143
                              grossValue: 364.26
                              taxValue: 58.117
                            appliedDiscounts:
                              - id: buy-2-get-1-free
                                value: 280
                                price:
                                  netValue: 235.294
                                  grossValue: 280
                                  taxValue: 44.706
                                  taxCode: STANDARD
                                  taxRate: 19
                                discountType: PERCENT
                                origin: EXTERNAL
                              - id: LS100EUROTOTAL
                                value: 84.26
                                price:
                                  netValue: 70.849
                                  grossValue: 84.26
                                  taxValue: 13.411
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          finalPrice:
                            netValue: 285.592
                            grossValue: 339.485
                            taxValue: 53.893
                      - id: "1"
                        keepAsSeparateLineItem: false
                        type: INTERNAL
                        product:
                          id: shirt--301722c1-23e8-42b4-a4d8-1a5480fe3ea5
                          sku: shirt--red
                          code: shirt--red
                          name: shirt
                          localizedName:
                            en: shirt
                          description: ""
                        itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;shirt--301722c1-23e8-42b4-a4d8-1a5480fe3ea5
                        quantity: 1
                        effectiveQuantity: 1
                        price:
                          priceId: 6818c032524d1c16623037e2
                          originalAmount: 10
                          effectiveAmount: 10
                          currency: EUR
                        unitPrice:
                          netValue: 9.346
                          grossValue: 10
                          taxValue: 0.654
                          taxCode: REDUCED
                          taxRate: 7
                        itemPrice:
                          amount: 10
                          currency: EUR
                        itemTaxInfo:
                          - name: REDUCED
                            value:
                              amount: 0.65
                            rate: 7
                            grossValue: 10
                            netValue: 9.35
                        fees:
                          total:
                            subTotal: 0
                            totalTax: 0
                            total: 0
                            discount: 0
                        authorizedAmount:
                          amount: 10
                          currency: EUR
                        totalDiscount:
                          amount: 1.2
                          currency: EUR
                        couponDiscounts:
                          - couponId: LS100EUROTOTAL
                            value: 1.2
                        calculatedPrice:
                          price:
                            netValue: 9.346
                            grossValue: 10
                            taxValue: 0.654
                            taxCode: REDUCED
                            taxRate: 7
                          discountedPrice:
                            netValue: 8.227
                            grossValue: 8.803
                            taxValue: 0.576
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 1.197
                                price:
                                  netValue: 1.119
                                  grossValue: 1.197
                                  taxValue: 0.078
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          totalDiscount:
                            calculationType: ApplyDiscountAfterTax
                            value: 1.197
                            price:
                              netValue: 1.119
                              grossValue: 1.197
                              taxValue: 0.078
                              taxCode: REDUCED
                              taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 1.197
                                price:
                                  netValue: 1.119
                                  grossValue: 1.197
                                  taxValue: 0.078
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          finalPrice:
                            netValue: 8.227
                            grossValue: 8.803
                            taxValue: 0.576
                            taxCode: REDUCED
                            taxRate: 7
                      - id: "2"
                        keepAsSeparateLineItem: true
                        type: INTERNAL
                        product:
                          id: mobile-phone-s27-gross
                          sku: mobile-phone-s27-gross
                          code: mobile-phone-s27-gross
                          name: mobile-phone-s27-gross
                          localizedName:
                            en: mobile-phone-s27-gross
                          description: mobile-phone-s27-gross
                        itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;mobile-phone-s27-gross
                        quantity: 2
                        effectiveQuantity: 2
                        price:
                          priceId: 6797da2f3537716a5a537ecf
                          originalAmount: 55
                          effectiveAmount: 55
                          currency: EUR
                        unitPrice:
                          netValue: 51.402
                          grossValue: 55
                          taxValue: 3.598
                          taxCode: REDUCED
                          taxRate: 7
                        itemPrice:
                          amount: 110
                          currency: EUR
                        itemTaxInfo:
                          - name: REDUCED
                            value:
                              amount: 7.2
                            rate: 7
                            grossValue: 110
                            netValue: 102.8
                        fees:
                          elements:
                            - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                              taxCode: REDUCED
                              total:
                                subTotal: 3.5
                                totalTax: 0
                                total: 3.08
                                discount: 0.42
                              name: Apple Picking Fee
                          total:
                            subTotal: 3.5
                            totalTax: 0
                            total: 3.08
                            discount: 0.42
                        authorizedAmount:
                          amount: 143
                          currency: EUR
                        totalDiscount:
                          amount: 13.61
                          currency: EUR
                        couponDiscounts:
                          - couponId: LS100EUROTOTAL
                            value: 13.61
                        calculatedPrice:
                          price:
                            netValue: 102.804
                            grossValue: 110
                            taxValue: 7.196
                            taxCode: REDUCED
                            taxRate: 7
                          upliftValue:
                            netValue: 30.841
                            grossValue: 33
                            taxValue: 2.159
                            taxCode: REDUCED
                            taxRate: 7
                          discountedPrice:
                            netValue: 90.495
                            grossValue: 96.83
                            taxValue: 6.335
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 13.17
                                price:
                                  netValue: 12.308
                                  grossValue: 13.17
                                  taxValue: 0.862
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          fees:
                            - id: 677d49ca3a421b451eab23f2
                              type: ABSOLUTE
                              origin: INTERNAL
                              name: Apple Picking Fee
                              price:
                                netValue: 3.5
                                grossValue: 3.745
                                taxValue: 0.245
                                taxCode: REDUCED
                                taxRate: 7
                              discountedPrice:
                                netValue: 3.081
                                grossValue: 3.297
                                taxValue: 0.216
                                taxCode: REDUCED
                                taxRate: 7
                                appliedDiscounts:
                                  - id: LS100EUROTOTAL
                                    value: 0.448
                                    price:
                                      netValue: 0.419
                                      grossValue: 0.448
                                      taxValue: 0.029
                                      taxCode: REDUCED
                                      taxRate: 7
                                    discountType: ABSOLUTE
                                    origin: INTERNAL
                          totalFee:
                            netValue: 3.081
                            grossValue: 3.297
                            taxValue: 0.216
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 0.448
                                price:
                                  netValue: 0.419
                                  grossValue: 0.448
                                  taxValue: 0.029
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          totalDiscount:
                            calculationType: ApplyDiscountAfterTax
                            value: 13.618
                            price:
                              netValue: 12.727
                              grossValue: 13.618
                              taxValue: 0.891
                              taxCode: REDUCED
                              taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 13.618
                                price:
                                  netValue: 12.727
                                  grossValue: 13.618
                                  taxValue: 0.891
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          finalPrice:
                            netValue: 93.576
                            grossValue: 100.127
                            taxValue: 6.551
                            taxCode: REDUCED
                            taxRate: 7
                    discounts:
                      - id: "0"
                        code: LS100EUROTOTAL
                        amount: 100
                        currency: EUR
                        name: LS100EUROTOTAL
                        calculationType: ApplyDiscountBeforeTax
                        valid: true
                        links:
                          - rel: validate
                            title: Coupon Validation
                            href: https://api.emporix.io/coupon/b2b2cstage/coupons/LS100EUROTOTAL/validation
                            type: application/json
                          - rel: redeem
                            title: Coupon Redemption
                            href: https://api.emporix.io/coupon/b2b2cstage/coupons/LS100EUROTOTAL/redemptions
                            type: application/json
                        discountType: ABSOLUTE
                        discountCalculationType: TOTAL
                        categoryRestricted: false
                    feeYrnAggregate:
                      elements:
                        - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                          taxCode: REDUCED
                          total:
                            subTotal: 7
                            totalTax: 0
                            total: 6.16
                            discount: 0.84
                          name:
                            de: Apple Picking Fee
                            en: Apple Picking Fee
                      total:
                        subTotal: 7
                        totalTax: 0
                        total: 6.16
                        discount: 0.84
                    totalPrice:
                      amount: 734.22
                      currency: EUR
                    subTotalPrice:
                      amount: 820
                      currency: EUR
                    shipping:
                      fee:
                        amount: 7.22
                        currency: EUR
                      total:
                        subTotal: 7.22
                        totalTax: 0
                        total: 6.35
                        discount: 0.87
                    totalUnitsCount: 5
                    metadata:
                      createdAt: 2025-06-10T12:01:34.057Z
                      modifiedAt: 2025-06-10T12:23:14.894Z
                      calculatedAt: 2025-06-10T12:23:14.894Z
                      version: 5
                    totalTax:
                      amount: 0
                      currency: EUR
                    taxAggregate:
                      lines:
                        - name: REDUCED
                          amount: 7.85
                          rate: 7
                          taxable: 120
                        - name: STANDARD
                          amount: 111.77
                          rate: 19
                          taxable: 700.01
                    subtotalAggregate:
                      currency: EUR
                      netValue: 700.39
                      grossValue: 820.01
                      taxValue: 119.62
                    totalDiscount:
                      amount: 100
                      currency: EUR
                    itemFeesTotal:
                      subTotal: 7
                      totalTax: 0
                      total: 6.16
                      discount: 0.84
                    paymentFeesTotal:
                      subTotal: 0
                      totalTax: 0
                      total: 0
                      discount: 0
                    leadTime: 0
                    totalAuthorizedAmount:
                      amount: 767.22
                      currency: EUR
                    calculatedPrice:
                      price:
                        netValue: 700.385
                        grossValue: 820
                        taxValue: 119.615
                      upliftValue:
                        netValue: 30.841
                        grossValue: 33
                        taxValue: 2.159
                        taxCode: REDUCED
                        taxRate: 7
                      discountedPrice:
                        netValue: 381.233
                        grossValue: 441.821
                        taxValue: 60.588
                        appliedDiscounts:
                          - id: buy-2-get-1-free
                            value: 280
                            price:
                              netValue: 235.294
                              grossValue: 280
                              taxValue: 44.706
                              taxCode: STANDARD
                              taxRate: 19
                            discountType: PERCENT
                            origin: EXTERNAL
                          - id: LS100EUROTOTAL
                            value: 98.179
                            price:
                              netValue: 83.857
                              grossValue: 98.179
                              taxValue: 14.322
                            discountType: ABSOLUTE
                            origin: INTERNAL
                      fees:
                        netValue: 7
                        grossValue: 7.49
                        taxValue: 0.49
                        taxCode: REDUCED
                        taxRate: 7
                      totalFee:
                        netValue: 6.162
                        grossValue: 6.594
                        taxValue: 0.432
                        taxCode: REDUCED
                        taxRate: 7
                        appliedDiscounts:
                          - id: LS100EUROTOTAL
                            value: 0.896
                            price:
                              netValue: 0.838
                              grossValue: 0.896
                              taxValue: 0.058
                              taxCode: REDUCED
                              taxRate: 7
                            discountType: ABSOLUTE
                            origin: INTERNAL
                      shipping:
                        netValue: 7.22
                        grossValue: 7.725
                        taxValue: 0.505
                        taxCode: REDUCED
                        taxRate: 7
                      totalShipping:
                        netValue: 6.355
                        grossValue: 6.8
                        taxValue: 0.445
                        taxCode: REDUCED
                        taxRate: 7
                        appliedDiscounts:
                          - id: LS100EUROTOTAL
                            value: 0.925
                            price:
                              netValue: 0.864
                              grossValue: 0.925
                              taxValue: 0.061
                              taxCode: REDUCED
                              taxRate: 7
                            discountType: ABSOLUTE
                            origin: INTERNAL
                      totalDiscount:
                        calculationType: ApplyDiscountAfterTax
                        value: 380
                        price:
                          netValue: 320.853
                          grossValue: 380
                          taxValue: 59.147
                        appliedDiscounts:
                          - id: buy-2-get-1-free
                            value: 280
                            price:
                              netValue: 235.294
                              grossValue: 280
                              taxValue: 44.706
                              taxCode: STANDARD
                              taxRate: 19
                            discountType: PERCENT
                            origin: EXTERNAL
                          - id: LS100EUROTOTAL
                            value: 100
                            price:
                              netValue: 85.559
                              grossValue: 100
                              taxValue: 14.441
                            discountType: ABSOLUTE
                            origin: INTERNAL
                      finalPrice:
                        netValue: 393.75
                        grossValue: 455.215
                        taxValue: 61.465
                        taxAggregate:
                          lines:
                            - netValue: 111.239
                              grossValue: 119.027
                              taxValue: 7.788
                              taxCode: REDUCED
                              taxRate: 7
                            - netValue: 282.511
                              grossValue: 336.188
                              taxValue: 53.677
                              taxCode: STANDARD
                              taxRate: 19
                'Logged in customer cart ':
                  value:
                    id: 612c9ae63cff1d66f699b691
                    customerId: '87413250'
                    currency: EUR
                    siteCode: main
                    sessionId: YxXRjn9zSFM7gMq5dtNKarX7xYkIMV
                    metadata:
                      createdAt: '2021-08-30T08:46:30.780Z'
                      modifiedAt: '2021-08-30T08:46:30.786Z'
                      calculatedAt: '2025-01-24T11:11:15.394459Z'
                      version: 1
                    leadTime: 0
                    nonDelivery:
                      - '5'
                      - '6'
                Anonymous customer cart:
                  value:
                    id: 6128cf97330cc7035fa1484c
                    currency: EUR
                    siteCode: main
                    sessionId: YxXRjn9zSFM7gMq5dtNKarX7xYkIMV
                    metadata:
                      createdAt: '2021-08-27T11:42:15.709Z'
                      modifiedAt: '2021-08-27T11:42:15.711Z'
                      calculatedAt: '2025-01-24T11:11:15.394459Z'
                      version: 1
                    leadTime: 0
                    nonDelivery:
                      - '5'
                      - '6'
        '400':
          $ref: '#/components/responses/trait_400'
        '401':
          $ref: '#/components/responses/trait_401'
        '403':
          $ref: '#/components/responses/trait_403'
        '404':
          $ref: '#/components/responses/trait_notFound_404'
        '500':
          $ref: '#/components/responses/trait_500'
      description: |-
        Retrieves cart details based on the store's site code and criteria such as session ID or customer ID. 

        As a response only one cart is returned, so all required criteria needs to be provided to fetch the unique cart. Uniqueness of the cart is defined by combination of `siteCode`, `type`, `legalEntityId` and  (`sessionId` or `customerId`).
      operationId: GET-cart-retrieve-cart-by-criteria
      security:
        - CustomerAccessToken: []
        - OAuth2: 
          - cart.cart_manage
      parameters:
        - $ref: '#/components/parameters/trait_tenant'
        - schema:
            type: string
          in: query
          name: sessionId
          description: |
            Customer unique session identifier.

            **Note**: The `sessionId` is only required if you want to retrieve an anonymous customer cart.
        - schema:
            type: string
          in: query
          name: customerId
          description: |
            Customer unique identifier generated when a customer account is created.

            **Note**: The `customerId` is only required if you want to create a cart for a logged in customer.
        - schema:
            type: string
          in: query
          name: siteCode
          required: true
          description: |
            Site unique identifier. A site is a specific shop. 

            If the tenant owns only one shop, the value should be set to `main`.
        - schema:
            type: string
          in: query
          name: legalEntityId
          required: false
          description: |
            ID of the legal entity to which customer is assigned. Should not be provided for B2C business model. 

            **Note**: The query param is optional, but if not provided, the cart without legalEntity assigned is returned.
        - schema:
            type: boolean
          in: query
          name: create
          description: 'If set to `true` and no cart exists for the specified criteria, a new cart will be created.'
        - schema:
            type: string
          name: type
          in: query
          required: false
          description: |
            Type of the cart. 

            **Note**: The query param is optional, but if not provided then only cart without `type` is returned.
        - name: zipCode
          in: query
          description: The zip code of the shipping address, used for tax calculations, shipping cost estimations, and pricing. Must be provided together with `countryCode` if either of the parameters is specified. If the cart already has both (`zipCode` and `countyCode`) address values, the request parameters are ignored. If the cart is missing either value, request parameters are used to fill the missing one.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 9
        - name: countryCode
          in: query
          description: The country code of the shipping address, used for tax calculations, shipping cost estimations, and pricing. Must be provided together with `zipCode` if either of the parameters is specified. If the cart already has both (`zipCode` and `countyCode`) address values, the request parameters are ignored. If the cart is missing either value, request parameters are used to fill the missing one.
          required: false
          schema:
            type: string
            minLength: 2
            maxLength: 2
      summary: Retrieving cart details by criteria
      tags:
        - Carts
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
  '/cart/{tenant}/carts/search':
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search'
            examples:
              Search Carts:
                value:
                  q: "status:OPEN"
      responses:
        '200':
          description: The request was successful. Carts are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/cartGetAll'
              examples:
                Carts:
                  value:
                    - id: 68481e9e8bf22744fc578572
                      customerId: "45620894"
                      currency: EUR
                      siteCode: GrossSite
                      type: shopping
                      channel:
                        name: storefront
                        source: https://your-storefront.com/
                      items:
                        - id: "0"
                          keepAsSeparateLineItem: true
                          type: INTERNAL
                          product:
                            id: mobile-phone-s24-gross
                            sku: Mobile Phone s24 gross
                            code: Mobile Phone s24 gross
                            name: Mobile Phone s24 gross
                            localizedName:
                              en: Mobile Phone s24 gross
                            images:
                              - id: 67169928ceaab717e17f3734
                                url: http://res.cloudinary.com/saas-ag/image/upload/v1729534248/b2b2cstage/media/67169928ceaab717e17f3734
                          itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;mobile-phone-s24-gross
                          quantity: 2
                          effectiveQuantity: 2
                          price:
                            priceId: 679ca63dbcdefe5b380c98bc
                            priceListId: abc123
                            originalAmount: 350
                            effectiveAmount: 350
                            currency: EUR
                          unitPrice:
                            netValue: 294.118
                            grossValue: 350
                            taxValue: 55.882
                            taxCode: STANDARD
                            taxRate: 19
                          itemPrice:
                            amount: 700
                            currency: EUR
                          itemTaxInfo:
                            - name: STANDARD
                              value:
                                amount: 111.76
                              rate: 19
                              grossValue: 700
                              netValue: 588.24
                          fees:
                            elements:
                              - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                                taxCode: REDUCED
                                total:
                                  subTotal: 3.5
                                  totalTax: 0
                                  total: 3.08
                                  discount: 0.42
                                name:
                                  de: Apple Picking Fee
                                  en: Apple Picking Fee
                            total:
                              subTotal: 3.5
                              totalTax: 0
                              total: 3.08
                              discount: 0.42
                          authorizedAmount:
                            amount: 700
                            currency: EUR
                          totalDiscount:
                            amount: 84.32
                            currency: EUR
                          couponDiscounts:
                            - couponId: LS100EUROTOTAL
                              value: 84.32
                          externalDiscounts:
                            - id: buy-2-get-1-free
                              discountType: PERCENT
                              value: 40
                              sequence: 1
                          calculatedPrice:
                            price:
                              netValue: 588.235
                              grossValue: 700
                              taxValue: 111.765
                              taxCode: STANDARD
                              taxRate: 19
                            discountedPrice:
                              netValue: 282.511
                              grossValue: 336.188
                              taxValue: 53.677
                              taxCode: STANDARD
                              taxRate: 19
                              appliedDiscounts:
                                - id: buy-2-get-1-free
                                  value: 280
                                  price:
                                    netValue: 235.294
                                    grossValue: 280
                                    taxValue: 44.706
                                    taxCode: STANDARD
                                    taxRate: 19
                                  discountType: PERCENT
                                  origin: EXTERNAL
                                - id: LS100EUROTOTAL
                                  value: 83.812
                                  price:
                                    netValue: 70.43
                                    grossValue: 83.812
                                    taxValue: 13.382
                                    taxCode: STANDARD
                                    taxRate: 19
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            fees:
                              - id: 677d49ca3a421b451eab23f2
                                type: ABSOLUTE
                                origin: INTERNAL
                                name:
                                  de: Apple Picking Fee
                                  en: Apple Picking Fee
                                price:
                                  netValue: 3.5
                                  grossValue: 3.745
                                  taxValue: 0.245
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountedPrice:
                                  netValue: 3.081
                                  grossValue: 3.297
                                  taxValue: 0.216
                                  taxCode: REDUCED
                                  taxRate: 7
                                  appliedDiscounts:
                                    - id: LS100EUROTOTAL
                                      value: 0.448
                                      price:
                                        netValue: 0.419
                                        grossValue: 0.448
                                        taxValue: 0.029
                                        taxCode: REDUCED
                                        taxRate: 7
                                      discountType: ABSOLUTE
                                      origin: INTERNAL
                            totalFee:
                              netValue: 3.081
                              grossValue: 3.297
                              taxValue: 0.216
                              taxCode: REDUCED
                              taxRate: 7
                              appliedDiscounts:
                                - id: LS100EUROTOTAL
                                  value: 0.448
                                  price:
                                    netValue: 0.419
                                    grossValue: 0.448
                                    taxValue: 0.029
                                    taxCode: REDUCED
                                    taxRate: 7
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            totalDiscount:
                              calculationType: ApplyDiscountAfterTax
                              value: 364.26
                              price:
                                netValue: 306.143
                                grossValue: 364.26
                                taxValue: 58.117
                              appliedDiscounts:
                                - id: buy-2-get-1-free
                                  value: 280
                                  price:
                                    netValue: 235.294
                                    grossValue: 280
                                    taxValue: 44.706
                                    taxCode: STANDARD
                                    taxRate: 19
                                  discountType: PERCENT
                                  origin: EXTERNAL
                                - id: LS100EUROTOTAL
                                  value: 84.26
                                  price:
                                    netValue: 70.849
                                    grossValue: 84.26
                                    taxValue: 13.411
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            finalPrice:
                              netValue: 285.592
                              grossValue: 339.485
                              taxValue: 53.893
                        - id: "1"
                          keepAsSeparateLineItem: false
                          type: INTERNAL
                          product:
                            id: shirt--301722c1-23e8-42b4-a4d8-1a5480fe3ea5
                            sku: shirt--red
                            code: shirt--red
                            name: shirt
                            localizedName:
                              en: shirt
                            description: ""
                          itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;shirt--301722c1-23e8-42b4-a4d8-1a5480fe3ea5
                          quantity: 1
                          effectiveQuantity: 1
                          price:
                            priceId: 6818c032524d1c16623037e2
                            originalAmount: 10
                            effectiveAmount: 10
                            currency: EUR
                          unitPrice:
                            netValue: 9.346
                            grossValue: 10
                            taxValue: 0.654
                            taxCode: REDUCED
                            taxRate: 7
                          itemPrice:
                            amount: 10
                            currency: EUR
                          itemTaxInfo:
                            - name: REDUCED
                              value:
                                amount: 0.65
                              rate: 7
                              grossValue: 10
                              netValue: 9.35
                          fees:
                            total:
                              subTotal: 0
                              totalTax: 0
                              total: 0
                              discount: 0
                          authorizedAmount:
                            amount: 10
                            currency: EUR
                          totalDiscount:
                            amount: 1.2
                            currency: EUR
                          couponDiscounts:
                            - couponId: LS100EUROTOTAL
                              value: 1.2
                          calculatedPrice:
                            price:
                              netValue: 9.346
                              grossValue: 10
                              taxValue: 0.654
                              taxCode: REDUCED
                              taxRate: 7
                            discountedPrice:
                              netValue: 8.227
                              grossValue: 8.803
                              taxValue: 0.576
                              taxCode: REDUCED
                              taxRate: 7
                              appliedDiscounts:
                                - id: LS100EUROTOTAL
                                  value: 1.197
                                  price:
                                    netValue: 1.119
                                    grossValue: 1.197
                                    taxValue: 0.078
                                    taxCode: REDUCED
                                    taxRate: 7
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            totalDiscount:
                              calculationType: ApplyDiscountAfterTax
                              value: 1.197
                              price:
                                netValue: 1.119
                                grossValue: 1.197
                                taxValue: 0.078
                                taxCode: REDUCED
                                taxRate: 7
                              appliedDiscounts:
                                - id: LS100EUROTOTAL
                                  value: 1.197
                                  price:
                                    netValue: 1.119
                                    grossValue: 1.197
                                    taxValue: 0.078
                                    taxCode: REDUCED
                                    taxRate: 7
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            finalPrice:
                              netValue: 8.227
                              grossValue: 8.803
                              taxValue: 0.576
                              taxCode: REDUCED
                              taxRate: 7
                        - id: "2"
                          keepAsSeparateLineItem: true
                          type: INTERNAL
                          product:
                            id: mobile-phone-s27-gross
                            sku: mobile-phone-s27-gross
                            code: mobile-phone-s27-gross
                            name: mobile-phone-s27-gross
                            localizedName:
                              en: mobile-phone-s27-gross
                            description: mobile-phone-s27-gross
                          itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;mobile-phone-s27-gross
                          quantity: 2
                          effectiveQuantity: 2
                          price:
                            priceId: 6797da2f3537716a5a537ecf
                            originalAmount: 55
                            effectiveAmount: 55
                            currency: EUR
                          unitPrice:
                            netValue: 51.402
                            grossValue: 55
                            taxValue: 3.598
                            taxCode: REDUCED
                            taxRate: 7
                          itemPrice:
                            amount: 110
                            currency: EUR
                          itemTaxInfo:
                            - name: REDUCED
                              value:
                                amount: 7.2
                              rate: 7
                              grossValue: 110
                              netValue: 102.8
                          fees:
                            elements:
                              - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                                taxCode: REDUCED
                                total:
                                  subTotal: 3.5
                                  totalTax: 0
                                  total: 3.08
                                  discount: 0.42
                                name: Apple Picking Fee
                            total:
                              subTotal: 3.5
                              totalTax: 0
                              total: 3.08
                              discount: 0.42
                          authorizedAmount:
                            amount: 143
                            currency: EUR
                          totalDiscount:
                            amount: 13.61
                            currency: EUR
                          couponDiscounts:
                            - couponId: LS100EUROTOTAL
                              value: 13.61
                          calculatedPrice:
                            price:
                              netValue: 102.804
                              grossValue: 110
                              taxValue: 7.196
                              taxCode: REDUCED
                              taxRate: 7
                            upliftValue:
                              netValue: 30.841
                              grossValue: 33
                              taxValue: 2.159
                              taxCode: REDUCED
                              taxRate: 7
                            discountedPrice:
                              netValue: 90.495
                              grossValue: 96.83
                              taxValue: 6.335
                              taxCode: REDUCED
                              taxRate: 7
                              appliedDiscounts:
                                - id: LS100EUROTOTAL
                                  value: 13.17
                                  price:
                                    netValue: 12.308
                                    grossValue: 13.17
                                    taxValue: 0.862
                                    taxCode: REDUCED
                                    taxRate: 7
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            fees:
                              - id: 677d49ca3a421b451eab23f2
                                type: ABSOLUTE
                                origin: INTERNAL
                                name: Apple Picking Fee
                                price:
                                  netValue: 3.5
                                  grossValue: 3.745
                                  taxValue: 0.245
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountedPrice:
                                  netValue: 3.081
                                  grossValue: 3.297
                                  taxValue: 0.216
                                  taxCode: REDUCED
                                  taxRate: 7
                                  appliedDiscounts:
                                    - id: LS100EUROTOTAL
                                      value: 0.448
                                      price:
                                        netValue: 0.419
                                        grossValue: 0.448
                                        taxValue: 0.029
                                        taxCode: REDUCED
                                        taxRate: 7
                                      discountType: ABSOLUTE
                                      origin: INTERNAL
                            totalFee:
                              netValue: 3.081
                              grossValue: 3.297
                              taxValue: 0.216
                              taxCode: REDUCED
                              taxRate: 7
                              appliedDiscounts:
                                - id: LS100EUROTOTAL
                                  value: 0.448
                                  price:
                                    netValue: 0.419
                                    grossValue: 0.448
                                    taxValue: 0.029
                                    taxCode: REDUCED
                                    taxRate: 7
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            totalDiscount:
                              calculationType: ApplyDiscountAfterTax
                              value: 13.618
                              price:
                                netValue: 12.727
                                grossValue: 13.618
                                taxValue: 0.891
                                taxCode: REDUCED
                                taxRate: 7
                              appliedDiscounts:
                                - id: LS100EUROTOTAL
                                  value: 13.618
                                  price:
                                    netValue: 12.727
                                    grossValue: 13.618
                                    taxValue: 0.891
                                    taxCode: REDUCED
                                    taxRate: 7
                                  discountType: ABSOLUTE
                                  origin: INTERNAL
                            finalPrice:
                              netValue: 93.576
                              grossValue: 100.127
                              taxValue: 6.551
                              taxCode: REDUCED
                              taxRate: 7
                      discounts:
                        - id: "0"
                          code: LS100EUROTOTAL
                          amount: 100
                          currency: EUR
                          name: LS100EUROTOTAL
                          calculationType: ApplyDiscountBeforeTax
                          valid: true
                          links:
                            - rel: validate
                              title: Coupon Validation
                              href: https://api-stage.emporix.io/coupon/b2b2cstage/coupons/LS100EUROTOTAL/validation
                              type: application/json
                            - rel: redeem
                              title: Coupon Redemption
                              href: https://api-stage.emporix.io/coupon/b2b2cstage/coupons/LS100EUROTOTAL/redemptions
                              type: application/json
                          discountType: ABSOLUTE
                          discountCalculationType: TOTAL
                          categoryRestricted: false
                      feeYrnAggregate:
                        elements:
                          - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                            taxCode: REDUCED
                            total:
                              subTotal: 7
                              totalTax: 0
                              total: 6.16
                              discount: 0.84
                            name:
                              de: Apple Picking Fee
                              en: Apple Picking Fee
                        total:
                          subTotal: 7
                          totalTax: 0
                          total: 6.16
                          discount: 0.84
                      totalPrice:
                        amount: 734.22
                        currency: EUR
                      subTotalPrice:
                        amount: 820
                        currency: EUR
                      shipping:
                        fee:
                          amount: 7.22
                          currency: EUR
                        total:
                          subTotal: 7.22
                          totalTax: 0
                          total: 6.35
                          discount: 0.87
                      totalUnitsCount: 5
                      metadata:
                        createdAt: 2025-06-10T12:01:34.057Z
                        modifiedAt: 2025-06-10T12:23:14.894Z
                        calculatedAt: 2025-06-10T12:23:14.894Z
                        version: 5
                      totalTax:
                        amount: 0
                        currency: EUR
                      taxAggregate:
                        lines:
                          - name: REDUCED
                            amount: 7.85
                            rate: 7
                            taxable: 120
                          - name: STANDARD
                            amount: 111.77
                            rate: 19
                            taxable: 700.01
                      subtotalAggregate:
                        currency: EUR
                        netValue: 700.39
                        grossValue: 820.01
                        taxValue: 119.62
                      totalDiscount:
                        amount: 100
                        currency: EUR
                      itemFeesTotal:
                        subTotal: 7
                        totalTax: 0
                        total: 6.16
                        discount: 0.84
                      paymentFeesTotal:
                        subTotal: 0
                        totalTax: 0
                        total: 0
                        discount: 0
                      leadTime: 0
                      totalAuthorizedAmount:
                        amount: 767.22
                        currency: EUR
                      calculatedPrice:
                        price:
                          netValue: 700.385
                          grossValue: 820
                          taxValue: 119.615
                        upliftValue:
                          netValue: 30.841
                          grossValue: 33
                          taxValue: 2.159
                          taxCode: REDUCED
                          taxRate: 7
                        discountedPrice:
                          netValue: 381.233
                          grossValue: 441.821
                          taxValue: 60.588
                          appliedDiscounts:
                            - id: buy-2-get-1-free
                              value: 280
                              price:
                                netValue: 235.294
                                grossValue: 280
                                taxValue: 44.706
                                taxCode: STANDARD
                                taxRate: 19
                              discountType: PERCENT
                              origin: EXTERNAL
                            - id: LS100EUROTOTAL
                              value: 98.179
                              price:
                                netValue: 83.857
                                grossValue: 98.179
                                taxValue: 14.322
                              discountType: ABSOLUTE
                              origin: INTERNAL
                        fees:
                          netValue: 7
                          grossValue: 7.49
                          taxValue: 0.49
                          taxCode: REDUCED
                          taxRate: 7
                        totalFee:
                          netValue: 6.162
                          grossValue: 6.594
                          taxValue: 0.432
                          taxCode: REDUCED
                          taxRate: 7
                          appliedDiscounts:
                            - id: LS100EUROTOTAL
                              value: 0.896
                              price:
                                netValue: 0.838
                                grossValue: 0.896
                                taxValue: 0.058
                                taxCode: REDUCED
                                taxRate: 7
                              discountType: ABSOLUTE
                              origin: INTERNAL
                        shipping:
                          netValue: 7.22
                          grossValue: 7.725
                          taxValue: 0.505
                          taxCode: REDUCED
                          taxRate: 7
                        totalShipping:
                          netValue: 6.355
                          grossValue: 6.8
                          taxValue: 0.445
                          taxCode: REDUCED
                          taxRate: 7
                          appliedDiscounts:
                            - id: LS100EUROTOTAL
                              value: 0.925
                              price:
                                netValue: 0.864
                                grossValue: 0.925
                                taxValue: 0.061
                                taxCode: REDUCED
                                taxRate: 7
                              discountType: ABSOLUTE
                              origin: INTERNAL
                        totalDiscount:
                          calculationType: ApplyDiscountAfterTax
                          value: 380
                          price:
                            netValue: 320.853
                            grossValue: 380
                            taxValue: 59.147
                          appliedDiscounts:
                            - id: buy-2-get-1-free
                              value: 280
                              price:
                                netValue: 235.294
                                grossValue: 280
                                taxValue: 44.706
                                taxCode: STANDARD
                                taxRate: 19
                              discountType: PERCENT
                              origin: EXTERNAL
                            - id: LS100EUROTOTAL
                              value: 100
                              price:
                                netValue: 85.559
                                grossValue: 100
                                taxValue: 14.441
                              discountType: ABSOLUTE
                              origin: INTERNAL
                        finalPrice:
                          netValue: 393.75
                          grossValue: 455.215
                          taxValue: 61.465
                          taxAggregate:
                            lines:
                              - netValue: 111.239
                                grossValue: 119.027
                                taxValue: 7.788
                                taxCode: REDUCED
                                taxRate: 7
                              - netValue: 282.511
                                grossValue: 336.188
                                taxValue: 53.677
                                taxCode: STANDARD
                                taxRate: 19

        '400':
          $ref: '#/components/responses/trait_400'
        '401':
          $ref: '#/components/responses/trait_401'
        '403':
          $ref: '#/components/responses/trait_403'
        '500':
          $ref: '#/components/responses/trait_500'
      description: |-
        Returns all carts that match provided criteria.
      operationId: POST-cart-retrieve-carts-by-search
      security:
        - CustomerAccessToken: []
        - OAuth2:   
            - cart.cart_manage
      parameters:
        - $ref: '#/components/parameters/trait_tenant'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageNumber'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/xTotalCount'
      summary: Searching for carts
      tags:
        - Carts
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
  '/cart/{tenant}/carts/{cartId}':
    get:
      responses:
        '200':
          description: The request was successful. Cart details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cart'
              examples:
                Detailed cart with calculated prices:
                  value:
                    id: 68481e9e8bf22744fc578572
                    customerId: "45620894"
                    currency: EUR
                    siteCode: GrossSite
                    type: shopping
                    channel:
                      name: storefront
                      source: https://your-storefront.com/
                    items:
                      - id: "0"
                        keepAsSeparateLineItem: true
                        type: INTERNAL
                        product:
                          id: mobile-phone-s27-gross
                          sku: mobile-phone-s27-gross
                          code: mobile-phone-s27-gross
                          name: mobile-phone-s27-gross
                          localizedName:
                            en: mobile-phone-s27-gross
                          description: mobile-phone-s27-gross
                          images:
                            - id: 67169928ceaab717e17f3734
                              url: http://res.cloudinary.com/saas-ag/image/upload/v1729534248/b2b2cstage/media/67169928ceaab717e17f3734
                        itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;mobile-phone-s24-gross
                        quantity: 2
                        effectiveQuantity: 2
                        price:
                          priceId: 679ca63dbcdefe5b380c98bc
                          priceListId: abc123
                          originalAmount: 350
                          effectiveAmount: 350
                          currency: EUR
                        unitPrice:
                          netValue: 294.118
                          grossValue: 350
                          taxValue: 55.882
                          taxCode: STANDARD
                          taxRate: 19
                        itemPrice:
                          amount: 700
                          currency: EUR
                        itemTaxInfo:
                          - name: STANDARD
                            value:
                              amount: 111.76
                            rate: 19
                            grossValue: 700
                            netValue: 588.24
                        fees:
                          elements:
                            - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                              taxCode: REDUCED
                              total:
                                subTotal: 3.5
                                totalTax: 0
                                total: 3.08
                                discount: 0.42
                              name:
                                de: Apple Picking Fee
                                en: Apple Picking Fee
                          total:
                            subTotal: 3.5
                            totalTax: 0
                            total: 3.08
                            discount: 0.42
                        authorizedAmount:
                          amount: 700
                          currency: EUR
                        totalDiscount:
                          amount: 84.32
                          currency: EUR
                        couponDiscounts:
                          - couponId: LS100EUROTOTAL
                            value: 84.32
                        externalDiscounts:
                          - id: buy-2-get-1-free
                            discountType: PERCENT
                            value: 40
                            sequence: 1
                        calculatedPrice:
                          price:
                            netValue: 588.235
                            grossValue: 700
                            taxValue: 111.765
                            taxCode: STANDARD
                            taxRate: 19
                          discountedPrice:
                            netValue: 282.511
                            grossValue: 336.188
                            taxValue: 53.677
                            taxCode: STANDARD
                            taxRate: 19
                            appliedDiscounts:
                              - id: buy-2-get-1-free
                                value: 280
                                price:
                                  netValue: 235.294
                                  grossValue: 280
                                  taxValue: 44.706
                                  taxCode: STANDARD
                                  taxRate: 19
                                discountType: PERCENT
                                origin: EXTERNAL
                              - id: LS100EUROTOTAL
                                value: 83.812
                                price:
                                  netValue: 70.43
                                  grossValue: 83.812
                                  taxValue: 13.382
                                  taxCode: STANDARD
                                  taxRate: 19
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          fees:
                            - id: 677d49ca3a421b451eab23f2
                              type: ABSOLUTE
                              origin: INTERNAL
                              name:
                                de: Apple Picking Fee
                                en: Apple Picking Fee
                              price:
                                netValue: 3.5
                                grossValue: 3.745
                                taxValue: 0.245
                                taxCode: REDUCED
                                taxRate: 7
                              discountedPrice:
                                netValue: 3.081
                                grossValue: 3.297
                                taxValue: 0.216
                                taxCode: REDUCED
                                taxRate: 7
                                appliedDiscounts:
                                  - id: LS100EUROTOTAL
                                    value: 0.448
                                    price:
                                      netValue: 0.419
                                      grossValue: 0.448
                                      taxValue: 0.029
                                      taxCode: REDUCED
                                      taxRate: 7
                                    discountType: ABSOLUTE
                                    origin: INTERNAL
                          totalFee:
                            netValue: 3.081
                            grossValue: 3.297
                            taxValue: 0.216
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 0.448
                                price:
                                  netValue: 0.419
                                  grossValue: 0.448
                                  taxValue: 0.029
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          totalDiscount:
                            calculationType: ApplyDiscountAfterTax
                            value: 364.26
                            price:
                              netValue: 306.143
                              grossValue: 364.26
                              taxValue: 58.117
                            appliedDiscounts:
                              - id: buy-2-get-1-free
                                value: 280
                                price:
                                  netValue: 235.294
                                  grossValue: 280
                                  taxValue: 44.706
                                  taxCode: STANDARD
                                  taxRate: 19
                                discountType: PERCENT
                                origin: EXTERNAL
                              - id: LS100EUROTOTAL
                                value: 84.26
                                price:
                                  netValue: 70.849
                                  grossValue: 84.26
                                  taxValue: 13.411
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          finalPrice:
                            netValue: 285.592
                            grossValue: 339.485
                            taxValue: 53.893
                      - id: "1"
                        keepAsSeparateLineItem: false
                        type: INTERNAL
                        product:
                          id: shirt--301722c1-23e8-42b4-a4d8-1a5480fe3ea5
                          sku: shirt--red
                          code: shirt--red
                          name: shirt
                          localizedName:
                            en: shirt
                          description: ""
                        itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;shirt--301722c1-23e8-42b4-a4d8-1a5480fe3ea5
                        quantity: 1
                        effectiveQuantity: 1
                        price:
                          priceId: 6818c032524d1c16623037e2
                          originalAmount: 10
                          effectiveAmount: 10
                          currency: EUR
                        unitPrice:
                          netValue: 9.346
                          grossValue: 10
                          taxValue: 0.654
                          taxCode: REDUCED
                          taxRate: 7
                        itemPrice:
                          amount: 10
                          currency: EUR
                        itemTaxInfo:
                          - name: REDUCED
                            value:
                              amount: 0.65
                            rate: 7
                            grossValue: 10
                            netValue: 9.35
                        fees:
                          total:
                            subTotal: 0
                            totalTax: 0
                            total: 0
                            discount: 0
                        authorizedAmount:
                          amount: 10
                          currency: EUR
                        totalDiscount:
                          amount: 1.2
                          currency: EUR
                        couponDiscounts:
                          - couponId: LS100EUROTOTAL
                            value: 1.2
                        calculatedPrice:
                          price:
                            netValue: 9.346
                            grossValue: 10
                            taxValue: 0.654
                            taxCode: REDUCED
                            taxRate: 7
                          discountedPrice:
                            netValue: 8.227
                            grossValue: 8.803
                            taxValue: 0.576
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 1.197
                                price:
                                  netValue: 1.119
                                  grossValue: 1.197
                                  taxValue: 0.078
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          totalDiscount:
                            calculationType: ApplyDiscountAfterTax
                            value: 1.197
                            price:
                              netValue: 1.119
                              grossValue: 1.197
                              taxValue: 0.078
                              taxCode: REDUCED
                              taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 1.197
                                price:
                                  netValue: 1.119
                                  grossValue: 1.197
                                  taxValue: 0.078
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          finalPrice:
                            netValue: 8.227
                            grossValue: 8.803
                            taxValue: 0.576
                            taxCode: REDUCED
                            taxRate: 7
                      - id: "2"
                        keepAsSeparateLineItem: true
                        type: INTERNAL
                        product:
                          id: mobile-phone-s27-gross
                          sku: mobile-phone-s27-gross
                          code: mobile-phone-s27-gross
                          name: mobile-phone-s27-gross
                          localizedName:
                            en: mobile-phone-s27-gross
                          description: mobile-phone-s27-gross
                        itemYrn: urn:yaas:saasag:caasproduct:product:b2b2cstage;mobile-phone-s27-gross
                        quantity: 2
                        effectiveQuantity: 2
                        price:
                          priceId: 6797da2f3537716a5a537ecf
                          originalAmount: 55
                          effectiveAmount: 55
                          currency: EUR
                        unitPrice:
                          netValue: 51.402
                          grossValue: 55
                          taxValue: 3.598
                          taxCode: REDUCED
                          taxRate: 7
                        itemPrice:
                          amount: 110
                          currency: EUR
                        itemTaxInfo:
                          - name: REDUCED
                            value:
                              amount: 7.2
                            rate: 7
                            grossValue: 110
                            netValue: 102.8
                        fees:
                          elements:
                            - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                              taxCode: REDUCED
                              total:
                                subTotal: 3.5
                                totalTax: 0
                                total: 3.08
                                discount: 0.42
                              name: Apple Picking Fee
                          total:
                            subTotal: 3.5
                            totalTax: 0
                            total: 3.08
                            discount: 0.42
                        authorizedAmount:
                          amount: 143
                          currency: EUR
                        totalDiscount:
                          amount: 13.61
                          currency: EUR
                        couponDiscounts:
                          - couponId: LS100EUROTOTAL
                            value: 13.61
                        calculatedPrice:
                          price:
                            netValue: 102.804
                            grossValue: 110
                            taxValue: 7.196
                            taxCode: REDUCED
                            taxRate: 7
                          upliftValue:
                            netValue: 30.841
                            grossValue: 33
                            taxValue: 2.159
                            taxCode: REDUCED
                            taxRate: 7
                          discountedPrice:
                            netValue: 90.495
                            grossValue: 96.83
                            taxValue: 6.335
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 13.17
                                price:
                                  netValue: 12.308
                                  grossValue: 13.17
                                  taxValue: 0.862
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          fees:
                            - id: 677d49ca3a421b451eab23f2
                              type: ABSOLUTE
                              origin: INTERNAL
                              name: Apple Picking Fee
                              price:
                                netValue: 3.5
                                grossValue: 3.745
                                taxValue: 0.245
                                taxCode: REDUCED
                                taxRate: 7
                              discountedPrice:
                                netValue: 3.081
                                grossValue: 3.297
                                taxValue: 0.216
                                taxCode: REDUCED
                                taxRate: 7
                                appliedDiscounts:
                                  - id: LS100EUROTOTAL
                                    value: 0.448
                                    price:
                                      netValue: 0.419
                                      grossValue: 0.448
                                      taxValue: 0.029
                                      taxCode: REDUCED
                                      taxRate: 7
                                    discountType: ABSOLUTE
                                    origin: INTERNAL
                          totalFee:
                            netValue: 3.081
                            grossValue: 3.297
                            taxValue: 0.216
                            taxCode: REDUCED
                            taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 0.448
                                price:
                                  netValue: 0.419
                                  grossValue: 0.448
                                  taxValue: 0.029
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          totalDiscount:
                            calculationType: ApplyDiscountAfterTax
                            value: 13.618
                            price:
                              netValue: 12.727
                              grossValue: 13.618
                              taxValue: 0.891
                              taxCode: REDUCED
                              taxRate: 7
                            appliedDiscounts:
                              - id: LS100EUROTOTAL
                                value: 13.618
                                price:
                                  netValue: 12.727
                                  grossValue: 13.618
                                  taxValue: 0.891
                                  taxCode: REDUCED
                                  taxRate: 7
                                discountType: ABSOLUTE
                                origin: INTERNAL
                          finalPrice:
                            netValue: 93.576
                            grossValue: 100.127
                            taxValue: 6.551
                            taxCode: REDUCED
                            taxRate: 7
                    discounts:
                      - id: "0"
                        code: LS100EUROTOTAL
                        amount: 100
                        currency: EUR
                        name: LS100EUROTOTAL
                        calculationType: ApplyDiscountBeforeTax
                        valid: true
                        links:
                          - rel: validate
                            title: Coupon Validation
                            href: https://api-stage.emporix.io/coupon/b2b2cstage/coupons/LS100EUROTOTAL/validation
                            type: application/json
                          - rel: redeem
                            title: Coupon Redemption
                            href: https://api-stage.emporix.io/coupon/b2b2cstage/coupons/LS100EUROTOTAL/redemptions
                            type: application/json
                        discountType: ABSOLUTE
                        discountCalculationType: TOTAL
                        categoryRestricted: false
                    feeYrnAggregate:
                      elements:
                        - yrn: urn:yaas:saasag:fee:fee:b2b2cstage;677d49ca3a421b451eab23f2
                          taxCode: REDUCED
                          total:
                            subTotal: 7
                            totalTax: 0
                            total: 6.16
                            discount: 0.84
                          name:
                            de: Apple Picking Fee
                            en: Apple Picking Fee
                      total:
                        subTotal: 7
                        totalTax: 0
                        total: 6.16
                        discount: 0.84
                    totalPrice:
                      amount: 734.22
                      currency: EUR
                    subTotalPrice:
                      amount: 820
                      currency: EUR
                    shipping:
                      fee:
                        amount: 7.22
                        currency: EUR
                      total:
                        subTotal: 7.22
                        totalTax: 0
                        total: 6.35
                        discount: 0.87
                    totalUnitsCount: 5
                    metadata:
                      createdAt: 2025-06-10T12:01:34.057Z
                      modifiedAt: 2025-06-10T12:23:14.894Z
                      calculatedAt: 2025-06-10T12:23:14.894Z
                      version: 5
                    totalTax:
                      amount: 0
                      currency: EUR
                    taxAggregate:
                      lines:
                        - name: REDUCED
                          amount: 7.85
                          rate: 7
                          taxable: 120
                        - name: STANDARD
                          amount: 111.77
                          rate: 19
                          taxable: 700.01
                    subtotalAggregate:
                      currency: EUR
                      netValue: 700.39
                      grossValue: 820.01
                      taxValue: 119.62
                    totalDiscount:
                      amount: 100
                      currency: EUR
                    itemFeesTotal:
                      subTotal: 7
                      totalTax: 0
                      total: 6.16
                      discount: 0.84
                    paymentFeesTotal:
                      subTotal: 0
                      totalTax: 0
                      total: 0
                      discount: 0
                    leadTime: 0
                    totalAuthorizedAmount:
                      amount: 767.22
                      currency: EUR
                    calculatedPrice:
                      price:
                        netValue: 700.385
                        grossValue: 820
                        taxValue: 119.615
                      upliftValue:
                        netValue: 30.841
                        grossValue: 33
                        taxValue: 2.159
                        taxCode: REDUCED
                        taxRate: 7
                      discountedPrice:
                        netValue: 381.233
                        grossValue: 441.821
                        taxValue: 60.588
                        appliedDiscounts:
                          - id: buy-2-get-1-free
                            value: 280
                            price:
                              netValue: 235.294
                              grossValue: 280
                              taxValue: 44.706
                              taxCode: STANDARD
                              taxRate: 19
                            discountType: PERCENT
                            origin: EXTERNAL
                          - id: LS100EUROTOTAL
                            value: 98.179
                            price:
                              netValue: 83.857
                              grossValue: 98.179
                              taxValue: 14.322
                            discountType: ABSOLUTE
                            origin: INTERNAL
                      fees:
                        netValue: 7
                        grossValue: 7.49
                        taxValue: 0.49
                        taxCode: REDUCED
                        taxRate: 7
                      totalFee:
                        netValue: 6.162
                        grossValue: 6.594
                        taxValue: 0.432
                        taxCode: REDUCED
                        taxRate: 7
                        appliedDiscounts:
                          - id: LS100EUROTOTAL
                            value: 0.896
                            price:
                              netValue: 0.838
                              grossValue: 0.896
                              taxValue: 0.058
                              taxCode: REDUCED
                              taxRate: 7
                            discountType: ABSOLUTE
                            origin: INTERNAL
                      shipping:
                        netValue: 7.22
                        grossValue: 7.725
                        taxValue: 0.505
                        taxCode: REDUCED
                        taxRate: 7
                      totalShipping:
                        netValue: 6.355
                        grossValue: 6.8
                        taxValue: 0.445
                        taxCode: REDUCED
                        taxRate: 7
                        appliedDiscounts:
                          - id: LS100EUROTOTAL
                            value: 0.925
                            price:
                              netValue: 0.864
                              grossValue: 0.925
                              taxValue: 0.061
                              taxCode: REDUCED
                              taxRate: 7
                            discountType: ABSOLUTE
                            origin: INTERNAL
                      totalDiscount:
                        calculationType: ApplyDiscountAfterTax
                        value: 380
                        price:
                          netValue: 320.853
                          grossValue: 380
                          taxValue: 59.147
[...]
