openapi: 3.0.1
info:
  title: IAM Service
  description: |
    With Identity and Access Management (IAM) you can ensure that only users with the right identity credentials can access specified data, resources, or product areas.
  contact:
    name: Emporix
    url: 'https://emporix.com'
    email: documentation@emporix.com
  version: ''
servers:
  - url: 'https://api.emporix.io'
paths:
  '/iam/{tenant}/access-controls':
    get:
      tags:
        - Access Controls
      summary: Retrieving all access controls
      description: |
        Retrieves all access controls available for the tenant. The results can be filtered by using query parameters. You can expand the result by resolving the role and resource references.
      operationId: GET-iam-list-tenant-access-controls
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_metadataModifiedAt_query_param'
        - $ref: '#/components/parameters/roleId_query'
        - $ref: '#/components/parameters/trait_resourceId_query_param'
        - $ref: '#/components/parameters/trait_q_query_param'
        - $ref: '#/components/parameters/trait_expand_query_param'
        - $ref: '#/components/parameters/X-Total-Count'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
      responses:
        '200':
          description: The request was successful. A list of access controls is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved access controls.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessControlQueryDocument'
              examples:
                Fully expanded access control list:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      role:
                        id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example role description
                          de: Beispiel Berechtigungsbeschreibung
                        permissions:
                          - id: F243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - Q1233dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: F343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      resource:
                        id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example resource description
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      role:
                        id: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example role description 2
                          de: Beispiel Berechtigungsbeschreibung 2
                        permissions:
                          - id: M243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - N943dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      resource:
                        id: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example resource description 2
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Fully expanded access control list with Accept-Language 'en':
                  value:
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                      role:
                        id: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                        description:
                          en: Example role description 2
                        permissions:
                          - id: M243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - N943dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      resource:
                        id: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                        description:
                          en: Example resource description 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list with role expand:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      role:
                        id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example role description
                          de: Beispiel Berechtigungsbeschreibung
                        permissions:
                          - id: F243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - Q1233dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: F343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      role:
                        id: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example role description 2
                          de: Beispiel Berechtigungsbeschreibung 2
                        permissions:
                          - id: M243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - N943dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list with resource expand:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      resource:
                        id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example resource description
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      resource:
                        id: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example resource description 2
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list empty:
                  value: []
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.access_read
    parameters:
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/access-controls/{accessControlId}':
    get:
      tags:
        - Access Controls
      summary: Retrieving an access control
      description: |
        Retrieves details of a specified access control. You can expand the result by resolving the role and resource references.
      operationId: GET-iam-retrieve-access-control
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/access_control_Id'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/trait_expand_query_param'
      responses:
        '200':
          description: The request was successful. Access control details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlQueryDocument'
              examples:
                Fully expanded access control:
                  value:
                    id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    domains:
                      - example_domain
                    name:
                      en: Example name
                      de: Beispielname
                    role:
                      id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example role description
                        de: Beispiel Berechtigungsbeschreibung
                      permissions:
                        - id: F243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                          applicablePermissionResources:
                            - Q1233dc9e-a3f6-4573-bb01-a8ae21d2d43g
                        - id: F343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    resource:
                      id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example resource description
                        de: Beispiel Domainbeschreibung 2
                      code: serviceName.resource
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    scopes:
                      - resource.resource_permission
                    metadata:
                      version: 1
                      createdAt: '2019-08-24T14:15:22Z'
                      modifiedAt: '2019-08-24T14:15:22Z'
                Fully expanded access control with Accept-Language 'en':
                  value:
                    id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    domains:
                      - example_domain
                    name:
                      en: Example name
                    role:
                      id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                      description:
                        en: Example role description
                      permissions:
                        - id: F243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                          applicablePermissionResources:
                            - Q1233dc9e-a3f6-4573-bb01-a8ae21d2d43g
                        - id: F343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    resource:
                      id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                      description:
                        en: Example resource description
                      code: serviceName.resource
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    scopes:
                      - resource.resource_permission
                    metadata:
                      version: 1
                      createdAt: '2019-08-24T14:15:22Z'
                      modifiedAt: '2019-08-24T14:15:22Z'
                Access control with role expanded:
                  value:
                    id: string
                    roleId: string
                    resourceId: string
                    domains:
                      - example_domain
                    name:
                      property1: string
                      property2: string
                    role:
                      id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example role description
                        de: Beispiel Berechtigungsbeschreibung
                      permissions:
                        - id: R143dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                          applicablePermissionResources:
                            - Z243dc9e-a3f6-4573-bb01-a8ae21d2d43g
                        - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    resource:
                      id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example resource description
                        de: Beispiel Berechtigungsbeschreibung
                      code: serviceName.resource
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    scopes:
                      - resource.resource_permission
                    metadata:
                      version: 0
                      createdAt: '2019-08-24T14:15:22Z'
                      modifiedAt: '2019-08-24T14:15:22Z'
                Access control with resource expanded:
                  value:
                    id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    domains:
                      - example_domain
                    name:
                      en: Example name
                      de: Beispielname
                    resource:
                      id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example resource description
                        de: Beispiel Domainbeschreibung 2
                      code: serviceName.resource
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    scopes:
                      - resource.resource_permission
                    metadata:
                      version: 1
                      createdAt: '2019-08-24T14:15:22Z'
                      modifiedAt: '2019-08-24T14:15:22Z'
                Access control:
                  value:
                    id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    domains:
                      - example_domain
                    name:
                      en: Example name
                      de: Beispielname
                    scopes:
                      - resource.resource_permission
                    metadata:
                      version: 1
                      createdAt: '2019-08-24T14:15:22Z'
                      modifiedAt: '2019-08-24T14:15:22Z'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: Error while getting access control
                    details:
                      - Access control with id '084bcaf6-66b8-4ddd-9489-65c5f6449e94'not found
      security:
        - OAuth2:
            - iam.access_read
    put:
      tags:
        - Access Controls
      summary: Upserting an access control
      description: |
        Creates an access control when it does not exist, or updates it when it already exists for the tenant.
        If `metadata.version` is provided, optimistic locking is applied for updates.
      operationId: PUT-iam-upsert-access-control
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessControlUpsertRequest'
            examples:
              example:
                value:
                  name:
                    en: Example name
                    de: Beispielname
                  description:
                    en: Example access control description
                    de: Beispielbeschreibung
                  scopes:
                    - custom.scope
                  domains:
                    - example_domain
                  restrictedTo: CUSTOMER
                  metadata:
                    version: 1
      responses:
        '201':
          description: The request was successful. The access control has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlIdResponse'
              examples:
                example:
                  value:
                    id: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
        '204':
          description: The request was successful. The access control has been updated.
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.access_manage
    delete:
      tags:
        - Access Controls
      summary: Deleting an access control
      description: |
        Deletes a specified access control.

        **Note**: Only user-created access controls can be deleted. Predefined access controls cannot be removed.
      operationId: DELETE-iam-delete-access-control
      responses:
        '204':
          description: The request was successful. The access control has been deleted.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.access_manage
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/access_control_Id'
  '/iam/{tenant}/scopes':
    get:
      tags:
        - Scopes
      summary: Retrieving all scopes
      description: |
        Retrieves all scopes for the tenant. Results can be filtered and sorted using query parameters.

      operationId: GET-iam-list-tenant-scopes
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_q_query_param'
        - $ref: '#/components/parameters/X-Total-Count'
      responses:
        '200':
          description: The request was successful. A list of scopes is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved scopes.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomScopeQueryDocument'
              examples:
                Scopes list:
                  value:
                    - id: custom.scope
                      description:
                        en: Example scope description
                        de: Beispielbeschreibung
                      domain: example_domain
                      predefined: false
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                    - id: iam.access_read
                      description:
                        en: Read access to access controls
                      domain: iam
                      predefined: true
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                Empty scopes list:
                  value: []
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.scope_read
    parameters:
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/scopes/{scopeId}':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/scopeId'
    get:
      tags:
        - Scopes
      summary: Retrieving a scope
      description: |
        Retrieves details of a specified scope.

      operationId: GET-iam-retrieve-scope
      parameters:
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
      responses:
        '200':
          description: The request was successful. Scope details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScopeQueryDocument'
              examples:
                example:
                  value:
                    id: custom.scope
                    description:
                      en: Example scope description
                      de: Beispielbeschreibung
                    domain: example_domain
                    predefined: false
                    metadata:
                      version: 1
                      createdAt: '2022-01-04 10:44:51.871Z'
                      modifiedAt: '2022-01-05 12:44:51.456Z'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: unknown.scope
                    code: 404
                    status: Not Found
                    message: Scope not found
      security:
        - OAuth2:
            - iam.scope_read
    put:
      tags:
        - Scopes
      summary: Upserting a custom scope
      description: |
        Creates a custom scope when it does not exist, or updates it when it already exists for the tenant.
        If `metadata.version` is provided, optimistic locking is applied for updates.
      operationId: PUT-iam-upsert-custom-scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomScopeUpsertRequest'
            examples:
              example:
                value:
                  description:
                    en: Example scope description
                    de: Beispielbeschreibung
                  domain: example_domain
                  metadata:
                    version: 1
      responses:
        '201':
          description: The request was successful. The scope has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomScopeIdResponse'
              examples:
                example:
                  value:
                    id: custom.scope
        '204':
          description: The request was successful. The scope has been updated.
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.scope_manage
    delete:
      tags:
        - Scopes
      summary: Deleting a custom scope
      description: |
        Deletes a custom scope for the tenant.

        **Note**: The scope is removed and cannot be used anymore, but it may still appear on custom credentials that were already created before the deletion.
      operationId: DELETE-iam-delete-custom-scope
      responses:
        '204':
          description: The request was successful. The scope has been deleted.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.scope_manage
  '/iam/{tenant}/groups':
    get:
      tags:
        - Groups
      summary: Retrieving all groups
      description: |
        Retrieves all groups of the tenant. You can filter the results by using query parameters.

        The `iam.group_read_own` scope allows customers to retrieve only groups of `CUSTOMER` type.

      operationId: GET-iam-list-tenant-user-groups
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_name_query_param'
        - $ref: '#/components/parameters/trait_q_query_param'
        - $ref: '#/components/parameters/trait_description_query_param'
        - $ref: '#/components/parameters/trait_metadataModifiedAt_query_param'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/X-Total-Count'
        - schema:
            type: string
          in: query
          name: userType
          description: 'Search by the group user type. Possible values are: `CUSTOMER` and `EMPLOYEE`'
      responses:
        '200':
          description: The request was successful. A list of groups is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved groups.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupsQueryDocument'
              examples:
                Group list:
                  value:
                    - id: 1gr5e52e-6e27-4ac5-9471-2467d3fb7500
                      name:
                        en: Customers
                        de: Kunden
                      description:
                        en: Storefront users group
                        de: Storefront-Benutzergruppe
                      accessControls:
                        - 2ac869fc-d548-4ec8-8e06-c01491314124
                        - 2ac869fc-d548-4ec8-8e06-c01491314143
                        - 2ac869fc-d548-4ec8-8e06-c01491314144
                      templates:
                        - 2ac869fc-d548-4ec8-8e06-c01491314144
                      code: CUSTOMER
                      userType: CUSTOMER
                      b2b:
                        legalEntityId: 0149b1314144a01491314z128
                      metadata:
                        version: 1
                        createdAt: '2022-07-06T16:05:37.673Z'
                        modifiedAt: '2022-07-06T16:05:37.673Z'
                    - id: 1gr5e52e-6e27-4ac5-9471-2467d3fb7501
                      name:
                        en: Backoffice users
                        de: Backoffice Nutzer
                      description:
                        en: Backoffice users
                        de: Backoffice Nutzer
                      accessControls:
                        - 4ac869fc-d548-4ec8-8e06-c01491314102
                        - 4ac869fc-d548-4ec8-8e06-c01491314119
                      templates:
                        - 2ac869fc-d548-4ec8-8e06-c01491314144
                      code: BO_USER
                      userType: EMPLOYEE
                      b2b:
                        legalEntityId: 0149b1314144a01491314z128
                      metadata:
                        version: 1
                        createdAt: '2022-07-06T16:05:38.119Z'
                        modifiedAt: '2022-07-06T16:05:38.119Z'
                Empty group list:
                  value: []
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.group_read
            - iam.group_read_own
    post:
      tags:
        - Groups
      summary: Creating a new group
      description: |
        Creates a new group. When a group is created, you can assign particular users to it. Based on the group's access controls list, you can grant members specific system access.
      operationId: POST-iam-create-user-group
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_contentLanguage_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateRequest'
            examples:
              Customer group create request:
                value:
                  name:
                    en: Example group name
                    de: Beispielname
                  description:
                    en: Example group description
                    de: Beispiel Gruppenbeschreibung
                  accessControls:
                    - f543dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    - r243dc9e-a3f6-4573-zz01-a8ae21d2d4ae
                  templates:
                    - 2ac869fc-d548-4ec8-8e06-c01491314144
                  b2b:
                    legalEntityId: 0149b1314144a01491314z128
                  userType: CUSTOMER
              Employee group create request:
                value:
                  name:
                    en: Example group name
                    de: Beispielname
                  description:
                    en: Example group description
                    de: Beispiel Gruppenbeschreibung
                  accessControls:
                    - f543dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    - r243dc9e-a3f6-4573-zz01-a8ae21d2d4ae
                  templates:
                    - 2ac869fc-d548-4ec8-8e06-c01491314144
                  b2b:
                    legalEntityId: 0149b1314144a01491314z128
                  userType: EMPLOYEE
        required: true
        description: ''
      responses:
        '201':
          description: The request was successful. The group has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupIdResponse'
              examples:
                example-1:
                  value:
                    id: e243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when request does not contain sufficient scopes for given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need a scope for this action.
                    details:
                      - 'Required scope(s): iam.group_manage'
        '409':
          $ref: '#/components/responses/Conflict_409'
      security:
        - OAuth2:
            - iam.group_read
    parameters:
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/groups/{groupId}':
    get:
      tags:
        - Groups
      summary: Retrieving a group
      description: |
        Retrieves a specified group's details.
      operationId: GET-iam-retrieve-users-group
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
      responses:
        '200':
          description: The request was successful. Group details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsQueryDocument'
              example:
                id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                name:
                  en: Example name
                  de: Beispielname
                description:
                  en: Example group description
                  de: Beispiel Berechtigungsbeschreibung
                accessControls:
                  - f543dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                  - r243dc9e-a3f6-4573-zz01-a8ae21d2d4ae
                b2b:
                  legalEntityId: 0149b1314144a01491314z128
                mixins: {}
                metadata:
                  version: 1
                  createdAt: '2022-01-04 10:44:51.871Z'
                  modifiedAt: '2022-01-05 12:44:51.456Z'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: Error while getting group
                    details:
                      - Group with id '084bcaf6-66b8-4ddd-9489-65c5f6449e94' not found
      security:
        - OAuth2:
            - iam.group_read
    delete:
      tags:
        - Groups
      summary: Deleting a group
      description: |
        Deletes a specified group.

        ***Important***: If you want to delete a group that has users assigned to it, you need to set the `forceDelete` query parameter to `true`. In this case, all user group assignments are deleted as well. The force flag requires the `iam.assignment_manage` scope. The `iam.assignment_manage` scope is only required if you want to delete a group that has users assigned to it.
      operationId: DELETE-iam-remove-user-group
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
        - name: forceDelete
          in: query
          description: |
            * If set to `true` and the group has users assigned to it, both the group and the group assignments will be deleted.

              **Important**: To set this parameter to true, you must request an access token with the `iam.assignment_manage` scope.

            * If set to `false` or not specified and the group has users assigned to it, the endpoint will respond with the 400 error.
          schema:
            type: boolean
            example: false
            default: false
      responses:
        '204':
          description: The request was successful. The group has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId:
                    type: string
                  code:
                    type: integer
                  status:
                    type: string
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: string
              examples:
                Force delete not present:
                  value:
                    resourceId: 12fa14fas-753vs-naoirfau3123
                    code: 404
                    status: Bad Request
                    message: Constraint validation failed
                    details:
                      - Could not delete a group with assigned users. Please use the 'forceDelete' query param with token containing the `iam.assignment_manage` scope to delete the group and group assignments or clean up the group assignments first.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.group_manage
    put:
      tags:
        - Groups
      summary: Upserting a group
      description: |
        Updates a user group, or creates a new one if a group with a specified if doesn't exist yet. If you provide the `metadata.version`, the optimistic locking is enabled and version is validated.
      operationId: PUT-iam-update-user-group
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_contentLanguage_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateRequest'
            examples:
              Customer group update request:
                value:
                  name:
                    en: Example group name
                    de: Beispielname
                  description:
                    en: Example group description
                    de: Beispiel Gruppenbeschreibung
                  accessControls:
                    - f543dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    - r243dc9e-a3f6-4573-zz01-a8ae21d2d4ae
                  templates:
                    - 2ac869fc-d548-4ec8-8e06-c01491314144
                  b2b:
                    legalEntityId: 0149b1314144a01491314z128
                  userType: CUSTOMER
                  metadata:
                    version: 1
              Employee group update request:
                value:
                  name:
                    en: Example group name
                    de: Beispielname
                  description:
                    en: Example group description
                    de: Beispiel Gruppenbeschreibung
                  accessControls:
                    - f543dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    - r243dc9e-a3f6-4573-zz01-a8ae21d2d4ae
                  templates:
                    - 2ac869fc-d548-4ec8-8e06-c01491314144
                  b2b:
                    legalEntityId: 0149b1314144a01491314z128
                  userType: EMPLOYEE
                  metadata:
                    version: 1
        required: true
        description: ''
      responses:
        '201':
          description: The request was successful. The group has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupIdResponse'
              examples:
                example-1:
                  value:
                    id: e243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
        '204':
          description: The request was successful. The group has been updated.
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when request does not contain sufficient scopes for given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need a scope for this action.
                    details:
                      - 'Required scope(s): iam.group_manage'
      security:
        - OAuth2:
            - iam.group_read
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/groupId'
  '/iam/{tenant}/groups/{groupId}/access-controls':
    get:
      tags:
        - Groups
      summary: Retrieving all access controls assigned to a group
      description: |
        Retrieves all access controls assigned to a specified group. Based on that list all users assigned to this group will receive specific system access. You can expand the result by resolving the role and resource references.
      operationId: GET-iam-list-group-access-controls
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/X-Total-Count'
        - $ref: '#/components/parameters/trait_expand_query_param'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
      responses:
        '200':
          description: The request was successful. A list of group access controls is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved access controls.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessControlQueryDocument'
              examples:
                Fully expanded access control list:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      role:
                        id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example role description
                          de: Beispiel Berechtigungsbeschreibung
                        permissions:
                          - id: F243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - Q1233dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: F343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      resource:
                        id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example resource description
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      role:
                        id: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example role description 2
                          de: Beispiel Berechtigungsbeschreibung 2
                        permissions:
                          - id: M243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - N943dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      resource:
                        id: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example resource description 2
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Fully expanded access control list with Accept-Language 'en':
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                      role:
                        id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                        description:
                          en: Example role description
                        permissions:
                          - id: F243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - Q1233dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: F343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      resource:
                        id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                        description:
                          en: Example resource description
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                      role:
                        id: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                        description:
                          en: Example role description 2
                        permissions:
                          - id: M243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - N943dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      resource:
                        id: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                        description:
                          en: Example resource description 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list with role expand:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      role:
                        id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example role description
                          de: Beispiel Berechtigungsbeschreibung
                        permissions:
                          - id: F243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - Q1233dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: F343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      role:
                        id: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example role description 2
                          de: Beispiel Berechtigungsbeschreibung 2
                        permissions:
                          - id: M243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                            applicablePermissionResources:
                              - N943dc9e-a3f6-4573-bb01-a8ae21d2d43g
                          - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list with resource expand:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      resource:
                        id: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name
                          de: Beispielname
                        description:
                          en: Example resource description
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      resource:
                        id: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        name:
                          en: Example name 2
                          de: Beispielname 2
                        description:
                          en: Example resource description 2
                          de: Beispiel Domainbeschreibung 2
                        code: serviceName.resource
                        metadata:
                          version: 1
                          createdAt: '2022-01-04 10:44:51.871Z'
                          modifiedAt: '2022-01-05 12:44:51.456Z'
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list:
                  value:
                    - id: I981dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: S843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name
                        de: Beispielname
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                    - id: PO43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      roleId: Rvsf43dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      resourceId: L343dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      domains:
                        - example_domain
                      name:
                        en: Example name 2
                        de: Beispielname 2
                      metadata:
                        version: 1
                        createdAt: '2019-08-24T14:15:22Z'
                        modifiedAt: '2019-08-24T14:15:22Z'
                Access control list empty:
                  value: []
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: Error while getting group
                    details:
                      - Group with id '084bcaf6-66b8-4ddd-9489-65c5f6449e94' not found
      security:
        - OAuth2:
            - iam.access_read
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/groupId'
  '/iam/{tenant}/groups/{groupId}/users':
    get:
      tags:
        - Groups
      summary: Retrieving users assigned to a group
      description: |
        Retrieves users assignments for a specified group.

        The `iam.user_read_own` scope allows customer to retrieve only users assignments from a specified group but only from the same company assignment
      operationId: GET-iam-list-group-users
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/X-Total-Count'
      responses:
        '200':
          description: The request was successful. A list of user IDs is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved users.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentQueryDocument'
              examples:
                Customer group user list:
                  value:
                    - id: 665776bc-d548-4ec8-8e06-c01491311176
                      groupId: 1gr5e52e-6e27-4ac5-9471-2467d3fb7504
                      userId: 00u194ip48TiObqQW417
                      userType: CUSTOMER
                    - id: 665776bc-d548-4ec8-8e06-c01491311177
                      groupId: 1gr5e52e-6e27-4ac5-9471-2467d3fb7502
                      userId: 00u194ip48TiObqQW411
                      userType: CUSTOMER
                Employee group user list:
                  value:
                    - id: 235776bc-d548-4ec8-8e06-c01491311176
                      groupId: 12gr5e52e-6e27-4ac5-9471-2467d3fb7504
                      userId: 0p9194ip48TiObqQW417
                      userType: EMPLOYEE
                    - id: 325776bc-d548-4ec8-8e06-c01491311177
                      groupId: 12gr5e52e-6e27-4ac5-9471-2467d3fb7502
                      userId: 00u0p9ip48TiObqQW411
                      userType: EMPLOYEE
                No users assigned to a group:
                  value: []
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: Error while getting group
                    details:
                      - Group with id '084bcaf6-66b8-4ddd-9489-65c5f6449e94' not found
      security:
        - OAuth2:
            - iam.user_read
            - iam.user_read_own
    post:
      tags:
        - Group Assignments
      summary: Adding a user to a group
      description: |
        Assigns a user to a specified group. The user gains all access controls (scopes) specified for this group.

        Groups assigned to employee users must share the same vendor identifier.

        The `iam.assignment_create_own` scope allows a customer to assign a user to a specified group only if the user is assigned to the same company.
      operationId: POST-iam-add-user-to-group
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentCreateRequest'
        required: true
      responses:
        '201':
          description: The request was successful. The user has been added to the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentIdResponse'
              example:
                id: e243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
        '400':
          description: Request was syntactically incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Invalid assignment type:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 400
                    status: Constraint validation failed
                    message: ' ''invalidUserType'' is not supported'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: User not found
      security:
        - OAuth2:
            - iam.assignment_manage
            - iam.assignment_create_own
    delete:
      tags:
        - Group Assignments
      summary: Removing all users from a group
      description: |
        Removes all users from a specified group.
      operationId: DELETE-iam-remove-all-users
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
      responses:
        '204':
          description: The request was successful. All users have been deleted from the group.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.assignment_manage
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/groupId'
  '/iam/{tenant}/groups/{groupId}/users/{userType}/{userId}':
    put:
      tags:
        - Group Assignments
      summary: Upserting user assignment to a group
      description: |
        Creates user's assignment to a specified group. The user gains all access controls (scopes) specified for this group.
        In case the assignment already exists, nothing happens as the type of assignment cannot be changed.

        Groups assigned to employee users must share the same vendor identifier
      operationId: PUT-iam-update-user-to-group
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/userType'
        - $ref: '#/components/parameters/userId'

      responses:
        '201':
          description: The request was successful. The user has been added to the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentIdResponse'
        '204':
          description: The request was successful. The user assignment already exists and has not been changed.
        '400':
          description: Request was syntactically incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Invalid assignment type:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 400
                    status: Constraint validation failed
                    message: ' ''invalidUserType'' is not supported'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: User not found
      security:
        - OAuth2:
            - iam.assignment_manage
  '/iam/{tenant}/groups/{groupId}/users/{userId}':
    delete:
      tags:
        - Group Assignments
      summary: Removing a user from a group
      description: |
        Removes a specified user from a specified group. 

        The `iam.assignment_delete_own` scope allows a customer to remove user from a specified group only if the user is assigned to the same company.
      operationId: DELETE-iam-remove-user-from-group
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/groupId'
        - $ref: '#/components/parameters/userId'
      responses:
        '204':
          description: The request was successful. The user has been removed from the group.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.assignment_manage
            - iam.assignment_delete_own
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/userId'
  '/iam/{tenant}/permissions':
    get:
      tags:
        - Permissions
      summary: Retrieving all permissions
      deprecated: true
      description: |
        Retrieves all permissions available for the tenant. You can filter the results by using query parameters.

        **Note**: This endpoint is deprecated.
      operationId: GET-iam-list-all-tenant-permissions
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_name_query_param'
        - $ref: '#/components/parameters/trait_description_query_param'
        - $ref: '#/components/parameters/trait_metadataModifiedAt_query_param'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/X-Total-Count'
      responses:
        '200':
          description: The request was successful. A list of permissions is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved permissions.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionQueryDocument'
              examples:
                Permission list:
                  value:
                    - id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example permission description
                        de: Beispiel Berechtigungsbeschreibung
                      applicableResources:
                        - SQ43dc9e-a3f6-4573-bb01-a8ae21d2d4ca
                        - RE43dc9e-a3f6-4573-bb01-a8ae21d2d4g1
                      code: read
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                Empty permission list:
                  value: []
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.permission_read
    parameters:
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/permissions/{permissionId}':
    get:
      tags:
        - Permissions
      summary: Retrieving a permission
      deprecated: true
      description: |
        Retrieves details of a specified permission.

        **Note**: This endpoint is deprecated.
      operationId: GET-iam-retrieve-permission-by-permissionId
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/permissionId'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
      responses:
        '200':
          description: The request was successful. Permission details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionQueryDocument'
              examples:
                example:
                  value:
                    id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                    name:
                      en: Example name
                      de: Beispielname
                    description:
                      en: Example permission description
                      de: Beispiel Berechtigungsbeschreibung
                    applicableResources:
                      - SQ43dc9e-a3f6-4573-bb01-a8ae21d2d4ca
                      - RE43dc9e-a3f6-4573-bb01-a8ae21d2d4g1
                    code: read
                    metadata:
                      version: 1
                      createdAt: '2022-01-04 10:44:51.871Z'
                      modifiedAt: '2022-01-05 12:44:51.456Z'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: Error while getting permission
                    details:
                      - Permission with id '084bcaf6-66b8-4ddd-9489-65c5f6449e94' not found
      security:
        - OAuth2:
            - iam.permission_read
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/permissionId'
  '/iam/{tenant}/resources':
    get:
      tags:
        - Resources
      summary: Retrieving all resources
      deprecated: true
      description: |
        Retrieves all resources of a given tenant. You can filter the results by using query parameters.

        **Note**: This endpoint is deprecated.
      operationId: GET-iam-list-tenant-resources
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_name_query_param'
        - $ref: '#/components/parameters/trait_description_query_param'
        - $ref: '#/components/parameters/trait_metadataModifiedAt_query_param'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/X-Total-Count'
      responses:
        '200':
          description: The request was successful. A list of resources is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved resources.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceQueryDocument'
              examples:
                example:
                  value:
                    - id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4af
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example resource description
                        de: Beispiel Berechtigungsbeschreibung
                      code: serviceName.resource
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
        '400':
          description: Request was syntactically incorrect. Details will be provided in the response payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    code: 400
                    status: Bad Request
                    message: Accept-Language validation failed.
                    details:
                      - 'Following languages are not supported: ''ru'''
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.resource_read
    parameters:
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/resources/{resourceId}':
    get:
      tags:
        - Resources
      summary: Retrieving a resource
      deprecated: true
      description: |
        Retrieves details of a specified resource.

        **Note**: This endpoint is deprecated.
      operationId: GET-iam-retrieve-resource
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/resourceId'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
      responses:
        '200':
          description: The request was successful. Resource details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceQueryDocument'
              example:
                id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4af
                name:
                  en: Example name
                  de: Beispielname
                description:
                  en: Example resource description
                  de: Beispiel Berechtigungsbeschreibung
                code: serviceName.resource
                metadata:
                  version: 1
                  createdAt: '2022-01-04 10:44:51.871Z'
                  modifiedAt: '2022-01-05 12:44:51.456Z'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: Error while getting resource
                    details:
                      - Resource with id '084bcaf6-66b8-4ddd-9489-65c5f6449e94' not found
      security:
        - OAuth2:
            - iam.resource_read
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/resourceId'
  '/iam/{tenant}/templates':
    get:
      tags:
        - Access Control Templates
      summary: Retrieving all access control templates
      description: |
        Retrieves all access controls templates available for the tenant. A template contains a list of the most popular access controls combined together in order to provide convenient access to the system.
      operationId: GET-iam-list-access-control-templates
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_name_query_param'
        - $ref: '#/components/parameters/trait_description_query_param'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/X-Total-Count'
        - schema:
            type: string
            example: accessControls
            enum:
              - accessControls
          in: query
          name: expand
          description: Adds expanded access controls with resource and role objects to the response.
      responses:
        '200':
          description: The request was successful. A list of role templates is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved role templates.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateQueryDocument'
              examples:
                Templates list:
                  value:
                    - id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example role template description
                        de: Beispiel Accessnbeschreibung
                      accessControls:
                        - f543dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                        - Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                Expanded templates list:
                  value:
                    - id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        de: Katalogmanager
                        en: Catalog Manager
                      description:
                        de: Vorlage für Katalogmanager-Zugriffskontrollen
                        en: Template for Catalog Manager access controls
                      accessControls:
                        - 1ac869fc-d548-4ec8-8e06-c01491314117
                        - 4ac869fc-d548-4ec8-8e06-c01491314114
                      accessControlsDocuments:
                        - id: 1ac869fc-d548-4ec8-8e06-c01491314117
                          roleId: 1rl5e52e-6e27-4ac5-9471-2467d3fb7500
                          resourceId: 1sr5e52e-6e27-4ac5-9471-2467d3fb7518
                          domains:
                            - example_domain
                          name:
                            de: Konfiguration | Konfiguration viewer
                            en: Configuration | Configuration viewer
                          role:
                            id: 1rl5e52e-6e27-4ac5-9471-2467d3fb7500
                            name:
                              de: Zuschauer
                              en: Viewer
                            description:
                              de: Zuschauerrolle
                              en: Viewer role
                            metadata:
                              version: 1
                              createdAt: '2022-06-27T23:32:24.676Z'
                              modifiedAt: '2022-06-27T23:32:24.676Z'
                          resource:
                            id: 1sr5e52e-6e27-4ac5-9471-2467d3fb7518
                            name:
                              de: Konfiguration | Konfiguration Ressource
                              en: Configuration | Configuration resource
                            description:
                              de: KonfigurationService with Konfigurationressource
                              en: Configuration service with configuration resource
                            code: configuration.configuration
                            metadata:
                              version: 1
                              createdAt: '2022-06-27T23:32:24.418Z'
                              modifiedAt: '2022-06-27T23:32:24.418Z'
                          metadata:
                            version: 1
                            createdAt: '2022-06-27T23:32:25.539Z'
                            modifiedAt: '2022-06-27T23:32:25.539Z'
                        - id: 4ac869fc-d548-4ec8-8e06-c01491314113
                          roleId: 1rl5e52e-6e27-4ac5-9471-2467d3fb7502
                          resourceId: 1sr5e52e-6e27-4ac5-9471-2467d3fb7514
                          domains:
                            - example_domain
                          name:
                            de: Katalog | Katalog manager
                            en: Catalog | Catalog manager
                          role:
                            id: 1rl5e52e-6e27-4ac5-9471-2467d3fb7502
                            name:
                              de: Manager
                              en: Manager
                            description:
                              de: Managerrolle
                              en: Administrator role
                            metadata:
                              version: 1
                              createdAt: '2022-06-27T23:32:24.704Z'
                              modifiedAt: '2022-06-27T23:32:24.704Z'
                          resource:
                            id: 1sr5e52e-6e27-4ac5-9471-2467d3fb7514
                            name:
                              de: Katalog | Katalog Ressource
                              en: Catalog | Catalog resource
                            description:
                              de: Katalog Service with Katalog Ressource
                              en: Catalog service with catalog resource
                            code: catalog.catalog
                            metadata:
                              version: 1
                              createdAt: '2022-06-27T23:32:24.406Z'
                              modifiedAt: '2022-06-27T23:32:24.406Z'
                          metadata:
                            version: 1
                            createdAt: '2022-06-27T23:32:25.148Z'
                            modifiedAt: '2022-06-27T23:32:25.148Z'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.template_read
    parameters:
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/roles':
    get:
      tags:
        - Roles
      summary: Retrieving a list of roles
      deprecated: true
      description: |
        Retrieves all roles available for a specific tenant. You can filter the results by using query parameters. 

        Each role contains a `permissions` list, and each permission is combined with the `applicablePermissionResources`field. This field allows you to allowlist resources that the permission is applicable to. The field can only contain resources specified in the permission document under `applicableResources`.

        **Note**: This endpoint is deprecated.
      operationId: GET-iam-list-tenant-roles
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_name_query_param'
        - $ref: '#/components/parameters/trait_description_query_param'
        - $ref: '#/components/parameters/trait_metadataModifiedAt_query_param'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/X-Total-Count'
      responses:
        '200':
          description: The request was successful. A list of roles is returned.
          headers:
            X-Total-Count:
              description: Total number of retrieved roles.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleQueryDocument'
              examples:
                Roles list:
                  value:
                    - id: Z843dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      name:
                        en: Example name
                        de: Beispielname
                      description:
                        en: Example role description
                        de: Beispiel Berechtigungsbeschreibung
                      permissions:
                        - id: R143dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                          applicablePermissionResources:
                            - Z243dc9e-a3f6-4573-bb01-a8ae21d2d43g
                        - id: Z243dc9e-a3f6-4573-bb01-a8ae21d2d4ae
                      metadata:
                        version: 1
                        createdAt: '2022-01-04 10:44:51.871Z'
                        modifiedAt: '2022-01-05 12:44:51.456Z'
                Empty roles list:
                  value: []
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      security:
        - OAuth2:
            - iam.role_read
    parameters:
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/roles/{roleId}':
    get:
      tags:
        - Roles
      summary: Retrieving a role
      deprecated: true
      description: |
        Retrieves details of a specified role.

        **Note**: This endpoint is deprecated.
      operationId: GET-iam-retrieve-role-by-roleId
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/roleId_path'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
      responses:
        '200':
          description: The request was successful. Role details are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleQueryDocument'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          description: Given resources cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    resourceId: 084bcaf6-66b8-4ddd-9489-65c5f6449e94
                    code: 404
                    status: Not Found
                    message: Error while getting role
                    details:
                      - Role with id '084bcaf6-66b8-4ddd-9489-65c5f6449e94' not found
      security:
        - OAuth2:
            - iam.role_read
    parameters:
      - $ref: '#/components/parameters/roleId_path'
      - $ref: '#/components/parameters/tenant'
  '/iam/{tenant}/users/{userId}/access-controls':
    get:
      tags:
        - Users
      summary: Retrieving all access controls assigned to a user
      description: |
        Retrieves all access controls assigned to a specified user. You can expand the result by resolving the role and resource references.
      operationId: GET-iam-list-user-access-controls
      parameters:
        - $ref: '#/components/parameters/tenant'
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
[...]
