openapi: 3.0.0
info:
  title: Product Service
  version: ''
  contact:
    email: documentation@emporix.com
  description: |
    Manage structured product information.
servers:
  - url: 'https://api.emporix.io'
tags:
  - name: Products
    description: |
      Manage products. Supported product types include:
      - `BASIC` — standalone products
      - `BUNDLE` — groups of products sold together
      - `PARENT_VARIANT` — products with automatically generated variants defined by a template
      - `VARIANT` — individual variants of a `PARENT_VARIANT` product
      - `DYNAMIC_VARIANT` — products forming a flexible variant hierarchy of up to 4 levels. Each variant stores its own `ownVariantAttributes` (the attributes that distinguish it from its parent). A root `DYNAMIC_VARIANT` product stores a denormalized flat map of all descendants in its `variants` field with accumulated attributes. Use the `/recalculate` endpoint to rebuild variant trees after bulk imports.
  - name: Product Templates
    description: Manage product templates. Product templates define a set of attributes which are common for all product instances based on that template.
paths:
  /product/{tenant}/products/search:
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      responses:
        '200':
          $ref: '#/components/responses/products_get_response_OK_200'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |
        Search a list of products.
        ***

        **Additional scope information**

        * The `product.product_read_unpublished` scope is only required if the response should contain unpublished products.
        * The `product.product_read_by_vendor` scope is only required to fetch products belonging to the vendor.

        ***
      operationId: POST-product-search-products
      requestBody:
        $ref: '#/components/requestBodies/productsSearchBody'
      security:
        - OAuth2:
            - product.product_read_by_vendor
            - product.product_read_unpublished
      parameters:
        - $ref: '#/components/parameters/header_x_total_count'
        - $ref: '#/components/parameters/query_page_number'
        - $ref: '#/components/parameters/query_page_size'
        - $ref: '#/components/parameters/query_sort_product'
        - $ref: '#/components/parameters/query_product_fields'
        - $ref: '#/components/parameters/header_accept_language'
        - $ref: '#/components/parameters/query_expand_product'
        - $ref: '#/components/parameters/query_raw_value_product'
      summary: Searching for products
      tags:
        - Products
  /product/{tenant}/products:
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    get:
      responses:
        '200':
          $ref: '#/components/responses/products_get_response_OK_200'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |
        Retrieves a list of products.
        ***

        **Additional scope information**

        * The `product.product_read_unpublished` scope is only required if the response should contain unpublished products.
        * The `product.product_read_by_vendor` scope is only required to fetch products belonging to the vendor.
        * The `product.product_manage_by_vendor` scope is only required to manage products belonging to the vendor.

        ***
      operationId: GET-product-list-products
      security:
        - OAuth2:
            - product.product_read_by_vendor
            - product.product_read_unpublished
            - product.product_manage_by_vendor
      parameters:
        - $ref: '#/components/parameters/header_x_total_count'
        - $ref: '#/components/parameters/query_page_number'
        - $ref: '#/components/parameters/query_page_size'
        - $ref: '#/components/parameters/query_sort_product'
        - $ref: '#/components/parameters/query_q_product'
        - $ref: '#/components/parameters/query_product_fields'
        - $ref: '#/components/parameters/header_accept_language'
        - $ref: '#/components/parameters/query_expand_product'
        - $ref: '#/components/parameters/query_raw_value_product'
      summary: Retrieving all products
      tags:
        - Products
    post:
      responses:
        '201':
          description: |
            The resource has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourceLocation'
              examples:
                Product successfully created:
                  $ref: '#/components/examples/product_post_Created_201'
                Variant successfully created:
                  $ref: '#/components/examples/variant_post_Created_201'
        '400':
          $ref: '#/components/responses/products_post_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '409':
          $ref: '#/components/responses/common_response_Conflict_409'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |-
        Creates a new product.
        ***

        **Additional scope information**

        * The `product.product_manage_by_vendor` scope is only required for vendor employeesto manage products belonging to the vendor.
        * The `product.product_publish` scope is only required if you want to publish the product when creating it.

        ***
      operationId: POST-product-create-product
      requestBody:
        $ref: '#/components/requestBodies/productCreateBody'
      security:
        - OAuth2:
            - product.product_manage
            - product.product_manage_by_vendor
            - product.product_publish
      parameters:
        - $ref: '#/components/parameters/path_tenant'
        - $ref: '#/components/parameters/header_content_language'
        - $ref: '#/components/parameters/query_skip_variants_generation'
        - $ref: '#/components/parameters/query_do_index'
        - $ref: '#/components/parameters/query_skip_related_items_validation'
      summary: Creating a new product
      tags:
        - Products
  /product/{tenant}/products/bulk:
    parameters:
      - schema:
          type: string
        name: tenant
        in: path
        required: true
        description: 'Your Emporix tenant''s name.**Note**: The tenant should always be written in lowercase.'
    post:
      summary: Creating multiple products
      operationId: POST-product-create-bulk-products
      responses:
        '207':
          $ref: '#/components/responses/products_create_in_bulk_response'
        '400':
          $ref: '#/components/responses/products_post_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '404':
          $ref: '#/components/responses/common_response_Conflict_409'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      tags:
        - Products
      description: |-
        Creates products in a bulk. The maximum batch size is 200.

        Response for a particular product is returned at the same position (index) at which that price is located in the request body.

        **Additional scope information**

        * The `product.product_manage_by_vendor` scope is only required for vendor employees to manage products belonging to the vendor.
        * The `product.product_publish` scope is only required if you want to publish the product when creating it.

        ***
      security:
        - OAuth2:
            - product.product_manage
            - product.product_manage_by_vendor
            - product.product_publish
      requestBody:
        $ref: '#/components/requestBodies/productBulkCreateBody'
      parameters:
        - $ref: '#/components/parameters/header_content_language'
        - $ref: '#/components/parameters/query_skip_variants_generation'
        - $ref: '#/components/parameters/query_do_index'
        - $ref: '#/components/parameters/query_skip_related_items_validation'
    put:
      responses:
        '207':
          $ref: '#/components/responses/products_update_in_bulk_response'
        '400':
          $ref: '#/components/responses/common_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |-
        Updates or creates products in a bulk. The maximum batch size is 200.

        Response for a particular product is returned at the same position (index) at which it is located in the request body.
        ***

        **Additional scope information**

        * The `product.product_manage_by_vendor` scope is only required for vendor employees to manage products belonging to the vendor.
        * The `product.product_publish` scope is only required if you want to publish the product when updating it.
        * The `product.product_unpublish` scope is only required if you want to unpublish the product when updating it.

        ***
      operationId: PUT-product-update-bulk-products
      requestBody:
        $ref: '#/components/requestBodies/productBulkUpdateBody'
      security:
        - OAuth2:
            - product.product_manage
            - product.product_manage_by_vendor
            - product.product_publish
            - product.product_unpublish
      parameters:
        - $ref: '#/components/parameters/header_content_language'
        - $ref: '#/components/parameters/query_skip_variants_generation'
        - $ref: '#/components/parameters/query_do_index'
        - $ref: '#/components/parameters/query_skip_related_items_validation'
      summary: Upserting multiple products
      tags:
        - Products
  /product/{tenant}/products/recalculate:
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    post:
      summary: Triggering dynamic variant recalculation
      operationId: POST-product-trigger-dynamic-variant-recalculation
      tags:
        - Products
      description: |-
        Triggers asynchronous recalculation of the variant tree for one or more `DYNAMIC_VARIANT` products. Accepts up to 1000 product IDs at any hierarchy level — the system automatically resolves the root for each ID and creates one recalculation job per unique root product.

        This endpoint is intended to be called **after** a batch of products has been fully ingested, not per individual product write. For single product writes, the variant tree is updated synchronously inline.

        If a recalculation job for a given root is already `PENDING` or `PROCESSING`, the corresponding IDs are returned in `skippedProductIds` and the existing job is referenced in the `jobs` list.
      security:
        - OAuth2:
            - product.product_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dynamicVariantRecalculationRequest'
            examples:
              Trigger recalculation for multiple products:
                value:
                  productIds:
                    - mobile-15-pro-l1
                    - mobile-15-pro-l2-retail
                    - mobile-16-pro-l1
      responses:
        '202':
          description: |
            Recalculation jobs accepted. One job is created per unique root product resolved from the submitted IDs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dynamicVariantRecalculationResponse'
              examples:
                Recalculation accepted:
                  value:
                    jobs:
                      - id: job-a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        parentRoot: mobile-15-pro
                        requestedByIds:
                          - mobile-15-pro-l1
                          - mobile-15-pro-l2-retail
                        status: PENDING
                        createdAt: '2024-01-15T10:10:00.000Z'
                        processingStartedAt: null
                        finishedAt: null
                        error: null
                        attempts: 0
                      - id: job-b2c3d4e5-f6a7-8901-bcde-f12345678901
                        parentRoot: mobile-16-pro
                        requestedByIds:
                          - mobile-16-pro-l1
                        status: PENDING
                        createdAt: '2024-01-15T10:10:00.000Z'
                        processingStartedAt: null
                        finishedAt: null
                        error: null
                        attempts: 0
                    skippedProductIds: []
                Partial skip - job already active:
                  value:
                    jobs:
                      - id: job-existing-c3d4e5f6-a7b8-9012-cdef-123456789012
                        parentRoot: mobile-15-pro
                        requestedByIds:
                          - mobile-15-pro-l1
                        status: PROCESSING
                        createdAt: '2024-01-15T09:55:00.000Z'
                        processingStartedAt: '2024-01-15T09:55:05.000Z'
                        finishedAt: null
                        error: null
                        attempts: 1
                    skippedProductIds:
                      - mobile-15-pro-l2-retail
        '400':
          $ref: '#/components/responses/products_post_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
  /product/{tenant}/products/recalculate/jobs:
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    get:
      summary: Listing recalculation jobs
      operationId: GET-product-list-recalculation-jobs
      tags:
        - Products
      description: |-
        Retrieves a list of dynamic variant recalculation jobs for the tenant. Optionally filtered by job status.

        Jobs are retained for approximately 30 days after reaching a terminal state (`FINISHED`, `FAILED`, or `FAILED_PERMANENT`) and are then automatically removed by a TTL index.
      security:
        - OAuth2:
            - product.product_manage
      parameters:
        - name: status
          in: query
          required: false
          description: Filter jobs by status. If omitted, all jobs are returned.
          schema:
            $ref: '#/components/schemas/dynamicVariantRecalculationJobStatus'
      responses:
        '200':
          description: Jobs retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dynamicVariantRecalculationJobResponse'
              examples:
                List of jobs:
                  value:
                    - id: job-a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      parentRoot: mobile-15-pro
                      requestedByIds:
                        - mobile-15-pro-l1
                        - mobile-15-pro-l2-retail
                      status: FINISHED
                      createdAt: '2024-01-15T10:10:00.000Z'
                      processingStartedAt: '2024-01-15T10:10:03.000Z'
                      finishedAt: '2024-01-15T10:10:07.000Z'
                      error: null
                      attempts: 1
                    - id: job-b2c3d4e5-f6a7-8901-bcde-f12345678901
                      parentRoot: mobile-16-pro
                      requestedByIds:
                        - mobile-16-pro-l1
                      status: PENDING
                      createdAt: '2024-01-15T10:10:00.000Z'
                      processingStartedAt: null
                      finishedAt: null
                      error: null
                      attempts: 0
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
  /product/{tenant}/products/recalculate/jobs/{jobId}:
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the recalculation job.
    get:
      summary: Retrieving a recalculation job
      operationId: GET-product-get-recalculation-job
      tags:
        - Products
      description: |-
        Retrieves the current status and details of a specific dynamic variant recalculation job. Use this endpoint to poll for job completion after triggering recalculation.
      security:
        - OAuth2:
            - product.product_manage
      responses:
        '200':
          description: Job retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dynamicVariantRecalculationJobResponse'
              examples:
                Job finished successfully:
                  value:
                    id: job-a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    parentRoot: mobile-15-pro
                    requestedByIds:
                      - mobile-15-pro-l1
                      - mobile-15-pro-l2-retail
                    status: FINISHED
                    createdAt: '2024-01-15T10:10:00.000Z'
                    processingStartedAt: '2024-01-15T10:10:03.000Z'
                    finishedAt: '2024-01-15T10:10:07.000Z'
                    error: null
                    attempts: 1
                Job pending:
                  value:
                    id: job-b2c3d4e5-f6a7-8901-bcde-f12345678901
                    parentRoot: mobile-16-pro
                    requestedByIds:
                      - mobile-16-pro-l1
                    status: PENDING
                    createdAt: '2024-01-15T10:10:00.000Z'
                    processingStartedAt: null
                    finishedAt: null
                    error: null
                    attempts: 0
                Job failed:
                  value:
                    id: job-c3d4e5f6-a7b8-9012-cdef-123456789012
                    parentRoot: mobile-17-pro
                    requestedByIds:
                      - mobile-17-pro-l1
                    status: FAILED
                    createdAt: '2024-01-15T10:08:00.000Z'
                    processingStartedAt: '2024-01-15T10:08:05.000Z'
                    finishedAt: '2024-01-15T10:08:12.000Z'
                    error: 'Database write timeout during variant tree update'
                    attempts: 3
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '404':
          $ref: '#/components/responses/product_NotFound_404'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
  /product/{tenant}/products/{productId}:
    parameters:
      - $ref: '#/components/parameters/path_productId'
      - $ref: '#/components/parameters/path_tenant'
    get:
      responses:
        '200':
          description: |
            Product successfully retrieved.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/basicProductWithId'
                  - $ref: '#/components/schemas/bundleProductWithId'
                  - $ref: '#/components/schemas/parentVariantProductWithId'
                  - $ref: '#/components/schemas/variantProductWithId'
                  - $ref: '#/components/schemas/dynamicVariantProductWithId'
              examples:
                BASIC Product:
                  value:
                    name: Smartphone X2
                    code: SmartphoneX21415269949943
                    description: The world's best camera and camcorder in a waterproof smartphone.
                    id: 545b4e3dfaee4c10def3db24
                    productType: BASIC
                    yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                    taxClasses:
                      EN: STANDARD
                    published: false
                    template:
                      id: 633d774f37937d425ce5570f
                      version: 1
                    relatedItems:
                      - refId: 631c6adac2d4ea73be34f0d1
                        type: ACCESSORY
                    customerSegmentIds:
                      - 689591c74ac99162678ae78f
                      - 689591c74ac99162678ae78g
                    categoryIds:
                      - 631c6adac2d4ea73be34f0d4
                      - 631c6adac2d4ea73be34f0d5
                    mixins:
                      productCustomAttributes:
                        pricingMeasurePrice: 13
                        unitPricingMeasure:
                          value: 133
                          unitCode: GRM
                        unitPricingBaseMeasure:
                          value: 133
                          unitCode: GRM
                        pricingMeasure:
                          value: 133
                          unitCode: GRM
                        orderUnit: H87
                        minOrderQuantity: 2
                        maxOrderQuantity: 10
                        defaultOrderQuantity: 2
                        taxClass: Vat_23
                    metadata:
                      version: 1
                      createdAt: '2022-03-31T09:52:15.423Z'
                      modifiedAt: '2022-03-31T09:52:15.423Z'
                      schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                      mixins:
                        productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                        productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                        productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
                BUNDLE Product:
                  value:
                    name: Smartphone X2 with headset
                    code: SmartphoneX21415269949943
                    description: The world's best camera and camcorder in a waterproof smartphone with headset.
                    id: 545b4e3dfaee4c10def3db24
                    productType: BUNDLE
                    yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                    published: false
                    template:
                      id: 633d774f37937d425ce5570f
                      version: 1
                    taxClasses:
                      EN: STANDARD
                    relatedItems:
                      - refId: 631c6adac2d4ea73be34f0d1
                        type: ACCESSORY
                    bundledProducts:
                      - id: 53a358901b2e9dd2718b5c12
                        amount: 1
                      - id: 53a358901b2e9dd2718b5c13
                        amount: 1
                    customerSegmentIds:
                      - 689591c74ac99162678ae78f
                      - 689591c74ac99162678ae78g
                    categoryIds:
                      - 631c6adac2d4ea73be34f0d4
                      - 631c6adac2d4ea73be34f0d5
                    mixins:
                      productCustomAttributes:
                        pricingMeasurePrice: 13
                        unitPricingMeasure:
                          value: 133
                          unitCode: GRM
                        unitPricingBaseMeasure:
                          value: 133
                          unitCode: GRM
                        pricingMeasure:
                          value: 133
                          unitCode: GRM
                        orderUnit: H87
                        minOrderQuantity: 2
                        maxOrderQuantity: 10
                        defaultOrderQuantity: 2
                        taxClass: Vat_23
                    metadata:
                      version: 1
                      createdAt: '2022-03-31T09:52:15.423Z'
                      modifiedAt: '2022-03-31T09:52:15.423Z'
                      schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                      mixins:
                        productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                        productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                        productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
                PARENT VARIANT Product:
                  value:
                    name: Smartphone X2
                    code: SmartphoneX21415269949943
                    description: The world's best camera and camcorder in a waterproof smartphone.
                    id: 545b4e3dfaee4c10def3db24
                    productType: PARENT_VARIANT
                    yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                    published: false
                    taxClasses:
                      EN: STANDARD
                    template:
                      id: 633d774f37937d425ce5570f
                      version: 1
                    relatedItems:
                      - refId: 631c6adac2d4ea73be34f0d1
                        type: ACCESSORY
                    variantAttributes:
                      color:
                        - key: RED
                        - key: GREEN
                        - key: BLUE
                      size:
                        - key: XS
                        - key: S
                        - key: M
                        - key: L
                        - key: XL
                    customerSegmentIds:
                      - 689591c74ac99162678ae78f
                      - 689591c74ac99162678ae78g
                    categoryIds:
                      - 631c6adac2d4ea73be34f0d4
                      - 631c6adac2d4ea73be34f0d5
                    mixins:
                      productCustomAttributes:
                        pricingMeasurePrice: 13
                        unitPricingMeasure:
                          value: 133
                          unitCode: GRM
                        unitPricingBaseMeasure:
                          value: 133
                          unitCode: GRM
                        pricingMeasure:
                          value: 133
                          unitCode: GRM
                        orderUnit: H87
                        minOrderQuantity: 2
                        maxOrderQuantity: 10
                        defaultOrderQuantity: 2
                        taxClass: Vat_23
                    metadata:
                      version: 1
                      createdAt: '2022-03-31T09:52:15.423Z'
                      modifiedAt: '2022-03-31T09:52:15.423Z'
                      schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                      mixins:
                        productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                        productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                        productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
                VARIANT Product:
                  value:
                    name: Smartphone X2 black
                    code: SmartphoneX21415269949943
                    description: The world's best camera and camcorder in a waterproof smartphone.
                    id: 545b4e3dfaee4c10def3db24--545b4e3dfaee4c10def3db25
                    yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                    published: false
                    taxClasses:
                      EN: STANDARD
                    parentVariantId: 545b4e3dfaee4c10def3db24
                    productType: VARIANT
                    relatedItems:
                      - refId: 631c6adac2d4ea73be34f0d1
                        type: ACCESSORY
                    customerSegmentIds:
                      - 689591c74ac99162678ae78f
                      - 689591c74ac99162678ae78g
                    categoryIds:
                      - 631c6adac2d4ea73be34f0d4
                      - 631c6adac2d4ea73be34f0d5
                    mixins:
                      productTemplateAttributes:
                        color: RED
                        size: XL
                      productCustomAttributes:
                        pricingMeasurePrice: 13
                        unitPricingMeasure:
                          value: 133
                          unitCode: GRM
                        unitPricingBaseMeasure:
                          value: 133
                          unitCode: GRM
                        pricingMeasure:
                          value: 133
                          unitCode: GRM
                        orderUnit: H87
                        minOrderQuantity: 2
                        maxOrderQuantity: 10
                        defaultOrderQuantity: 2
                        taxClass: Vat_23
                    metadata:
                      version: 1
                      overridden:
                        - published
                        - name
                      createdAt: '2022-03-31T09:52:15.423Z'
                      modifiedAt: '2022-03-31T09:52:15.423Z'
                      schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                      mixins:
                        productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                        productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                        productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
                DYNAMIC_VARIANT Root Product:
                  value:
                    id: mobile-15-pro
                    yrn: 'urn:yaas:saasag:caasproduct:product:myshop;mobile-15-pro'
                    code: MOBILE-15-PRO
                    name:
                      en: Mobile Phone 15 Pro
                      de: Mobile Phone 15 Pro
                    description:
                      en: Flagship smartphone with titanium design and advanced camera system.
                      de: Flaggschiff-Smartphone mit Titan-Design und fortschrittlichem Kamerasystem.
                    productType: DYNAMIC_VARIANT
                    published: true
                    sellable: false
                    taxClasses:
                      EN: STANDARD
                    variants:
                      mobile-15-pro-l1:
                        version: 1
                        code: MOBILE-15-PRO-L1
                        name:
                          en: Mobile Phone 15 Pro – 256 GB Blue
                          de: Mobile Phone 15 Pro – 256 GB Blau
                        parentVariantId: mobile-15-pro
                        sellable: false
                        dynamicVariantType: H1_L1
                        variantAttributes:
                          storageCapacity:
                            name:
                              en: Storage
                              de: Speicher
                            value:
                              type: STRING
                              qualifier: 256_GB
                              name:
                                en: 256 GB
                                de: 256 GB
                          colorFinish:
                            name:
                              en: Color
                              de: Farbe
                            value:
                              type: STRING
                              qualifier: BLUE
                              name:
                                en: Blue Titanium
                                de: Blau Titan
                          displaySize:
                            name:
                              en: Display size
                              de: Displaygröße
                            value:
                              type: DECIMAL
                              qualifier: 6.1
                              unit: INH
                              name:
                                en: 6.1 in
                                de: 6,1 Zoll
                      mobile-15-pro-l2-retail:
                        version: 1
                        code: MOBILE-15-PRO-L2-RETAIL
                        name:
                          en: Mobile Phone 15 Pro – 256 GB Blue – Retail box
                          de: Mobile Phone 15 Pro – 256 GB Blau – Einzelhandelsbox
                        parentVariantId: mobile-15-pro-l1
                        sellable: true
                        dynamicVariantType: H1_L2
                        variantAttributes:
                          storageCapacity:
                            name:
                              en: Storage
                              de: Speicher
                            value:
                              type: STRING
                              qualifier: 256_GB
                              name:
                                en: 256 GB
                                de: 256 GB
                          colorFinish:
                            name:
                              en: Color
                              de: Farbe
                            value:
                              type: STRING
                              qualifier: BLUE
                              name:
                                en: Blue Titanium
                                de: Blau Titan
                          displaySize:
                            name:
                              en: Display size
                              de: Displaygröße
                            value:
                              type: DECIMAL
                              qualifier: 6.1
                              unit: INH
                              name:
                                en: 6.1 in
                                de: 6,1 Zoll
                          bundleType:
                            name:
                              en: Bundle
                              de: Bundle
                            value:
                              type: STRING
                              qualifier: RETAIL_BOX
                              name:
                                en: Retail box
                                de: Einzelhandelsbox
                    metadata:
                      version: 1
                      createdAt: '2024-01-15T10:00:00.000Z'
                      modifiedAt: '2024-01-15T10:00:00.000Z'
                DYNAMIC_VARIANT Child Product (L2 leaf):
                  value:
                    id: mobile-15-pro-l2-retail
                    yrn: 'urn:yaas:saasag:caasproduct:product:myshop;mobile-15-pro-l2-retail'
                    code: MOBILE-15-PRO-L2-RETAIL
                    name:
                      en: Mobile Phone 15 Pro – 256 GB Blue – Retail box
                      de: Mobile Phone 15 Pro – 256 GB Blau – Einzelhandelsbox
                    productType: DYNAMIC_VARIANT
                    published: true
                    taxClasses:
                      EN: STANDARD
                    parentVariantId: mobile-15-pro-l1
                    parentVariantPath:
                      - mobile-15-pro-l1
                      - mobile-15-pro
                    dynamicVariantType: H1_L2
                    sellable: true
                    ownVariantAttributes:
                      bundleType:
                        name:
                          en: Bundle
                          de: Bundle
                        value:
                          type: STRING
                          qualifier: RETAIL_BOX
                          name:
                            en: Retail box
                            de: Einzelhandelsbox
                    inheritedVariantAttributes:
                      storageCapacity:
                        name:
                          en: Storage
                          de: Speicher
                        value:
                          type: STRING
                          qualifier: 256_GB
                          name:
                            en: 256 GB
                            de: 256 GB
                      colorFinish:
                        name:
                          en: Color
                          de: Farbe
                        value:
                          type: STRING
                          qualifier: BLUE
                          name:
                            en: Blue Titanium
                            de: Blau Titan
                      displaySize:
                        name:
                          en: Display size
                          de: Displaygröße
                        value:
                          type: DECIMAL
                          qualifier: 6.1
                          unit: INH
                          name:
                            en: 6.1 in
                            de: 6,1 Zoll
                    metadata:
                      version: 1
                      createdAt: '2024-01-15T10:05:00.000Z'
                      modifiedAt: '2024-01-15T10:05:00.000Z'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '404':
          $ref: '#/components/responses/product_NotFound_404'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |-
        Retrieves a specified product details.
        ***

        **Additional scope information**

        * The `product.product_read_unpublished` scope is only required if the product has not been published.
        * The `product.product_read_by_vendor` scope is only required to fetch products belonging to the vendor.
        * The `product.product_manage_by_vendor` scope is only required to manage products belonging to the vendor.

        ***
      operationId: GET-product-retrieve-product
      security:
        - OAuth2:
            - product.product_read_by_vendor
            - product.product_read_unpublished
            - product.product_manage_by_vendor
      parameters:
        - $ref: '#/components/parameters/path_tenant'
        - $ref: '#/components/parameters/path_productId'
        - $ref: '#/components/parameters/header_accept_language'
        - $ref: '#/components/parameters/query_product_fields'
        - $ref: '#/components/parameters/query_expand_product'
        - $ref: '#/components/parameters/query_raw_value_product'
      summary: Retrieving a product
      tags:
        - Products
    put:
      responses:
        '201':
          description: |
            The resource has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourceLocation'
              examples:
                Product successfully created:
                  $ref: '#/components/examples/product_post_Created_201'
                Variant successfully created:
                  $ref: '#/components/examples/variant_post_Created_201'

        '204':
          description: |
            The resource has been successfully updated.
        '400':
          $ref: '#/components/responses/common_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '404':
          $ref: '#/components/responses/product_NotFound_404'
        '409':
          $ref: '#/components/responses/common_response_Conflict_409'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |-
        Updates or creates a specified product by replacing all of its existing data with data from the request body.
        If the `metadata.version` is provided then optimistic locking is enabled and version must match the version in the database.
        ***

        **Additional scope information**

        * The `product.product_manage_by_vendor` scope is only required for vendor employees to manage products belonging to the vendor.
        * The `product.product_publish` scope is only required if you want to publish the product when updating it.
        * The `product.product_unpublish` scope is only required if you want to unpublish the product when updating it.

        ***
      operationId: PUT-product-update-product
      requestBody:
        $ref: '#/components/requestBodies/productUpdateBody'
      security:
        - OAuth2:
            - product.product_manage
            - product.product_manage_by_vendor
            - product.product_publish
            - product.product_unpublish
      parameters:
        - $ref: '#/components/parameters/path_tenant'
        - $ref: '#/components/parameters/path_productId'
        - $ref: '#/components/parameters/header_content_language'
        - $ref: '#/components/parameters/query_partial_product'
        - $ref: '#/components/parameters/query_skip_variants_generation'
        - $ref: '#/components/parameters/query_do_index'
        - $ref: '#/components/parameters/query_skip_related_items_validation'
      summary: Upserting a product
      tags:
        - Products
    patch:
      responses:
        '204':
          description: |
            The resource has been successfully updated.
        '400':
          $ref: '#/components/responses/common_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '404':
          description: |
            The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/coreErrorMessage'
        '409':
          $ref: '#/components/responses/common_response_Conflict_409'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |-
        Partially updates a specified product.
        ***

        **Additional scope information**

        * The `product.product_manage_by_vendor` scope is only required for vendor employees to manage products belonging to the vendor.
        * The `product.product_publish` scope is only required if you want to publish the product when updating it.
        * The `product.product_unpublish` scope is only required if you want to unpublish the product when updating it.

        ***
      operationId: PATCH-product-update-product
      requestBody:
        $ref: '#/components/requestBodies/productPartialUpdateBody'
      security:
        - OAuth2:
            - product.product_manage
            - product.product_manage_by_vendor
            - product.product_publish
            - product.product_unpublish
      parameters:
        - $ref: '#/components/parameters/path_tenant'
        - $ref: '#/components/parameters/path_productId'
        - $ref: '#/components/parameters/header_content_language'
        - $ref: '#/components/parameters/query_skip_variants_generation'
        - $ref: '#/components/parameters/query_do_index'
        - $ref: '#/components/parameters/query_skip_related_items_validation'
      summary: Partially updating a product
      tags:
        - Products
    delete:
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        '204':
          description: |
            The resource has been successfully deleted.
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      description: |-
        Deletes a specified product.
        ***

        **Additional scope information**

        * The `product.product_manage_by_vendor` scope is only required for vendor employees to delete products belonging to the vendor.

        ***
      operationId: DELETE-product-remove-product
      security:
        - OAuth2:
            - product.product_manage
            - product.product_manage_by_vendor
      parameters:
        - $ref: '#/components/parameters/path_tenant'
        - $ref: '#/components/parameters/path_productId'
        - $ref: '#/components/parameters/query_force_product'
        - $ref: '#/components/parameters/query_do_index'
      summary: Deleting a product
      tags:
        - Products
  /product/{tenant}/product-templates:
    parameters:
      - $ref: '#/components/parameters/path_tenant'
    get:
      summary: Retrieving all product templates
      tags:
        - Product Templates
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productTemplatesResponse'
              examples:
                Product template with enum attribute:
                  value:
                    - id: 634cea2740033d7c2e7b03a8
                      name:
                        en: T-shirt
                      attributes:
                        - key: color
                          name:
                            en: Color
                            pl: Kolor
                          type: TEXT
                          metadata:
                            mandatory: false
                            variantAttribute: true
                            defaultValue: GREEN
                          values:
                            - key: GREEN
                            - key: RED
                      metadata:
                        variantAttributesSchema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/634cea2740033d7c2e7b03a8-variantAttributes_v1.json'
                        templateAttributesSchema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/634cea2740033d7c2e7b03a8-templateAttributes_v1.json'
                        createdAt: '2022-03-31T09:52:15.423Z'
                        modifiedAt: '2022-03-31T09:52:15.423Z'
                        version: 1
        '400':
          $ref: '#/components/responses/common_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      operationId: GET-product-list-templates
      security:
        - OAuth2:
            - product.product_template_read
      description: |-
        Retrieves all product templates. You can filter the results with query parameters.

        A product template defines a set of attributes which are common for all product instances based on that template.
      parameters:
        - $ref: '#/components/parameters/header_x_total_count'
        - $ref: '#/components/parameters/header_accept_language'
        - $ref: '#/components/parameters/query_page_number'
        - $ref: '#/components/parameters/query_page_size'
        - $ref: '#/components/parameters/query_sort'
        - $ref: '#/components/parameters/query_q_param_product_template'
    post:
      summary: Creating a new product template
      operationId: POST-product-create-template
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the newly created product template.
              examples:
                Product template response:
                  value:
                    id: 624c3e7c3406122baacc7e93
        '400':
          $ref: '#/components/responses/common_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      tags:
        - Product Templates
      security:
        - OAuth2:
            - product.product_template_manage
      description: |-
        Creates a new product template. 

        A product template defines a set of attributes which are common for all product instances based on that template.
      parameters:
        - $ref: '#/components/parameters/header_content_language'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productTemplateCreation'
            examples:
              Product template:
                value:
                  id: 545b4e3dfaee4c10def3db24
                  name:
                    en: T-shirt
                  attributes:
                    - key: color
                      name:
                        en: Color
                        pl: Kolor
                      type: TEXT
                      metadata:
                        mandatory: false
                        variantAttribute: true
                        defaultValue: GREEN
                      values:
                        - key: GREEN
                        - key: RED
  /product/{tenant}/product-templates/{product-template-id}:
    parameters:
      - $ref: '#/components/parameters/path_tenant'
      - $ref: '#/components/parameters/path_productTemplateId'
    get:
      summary: Retrieving a product template
      tags:
        - Product Templates
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productTemplateResponse'
              examples:
                Product template:
                  value:
                    id: 634cea2740033d7c2e7b03a8
                    name:
                      en: T-shirt
                    attributes:
                      - key: color
                        name:
                          en: Color
                          pl: Kolor
                        type: TEXT
                        metadata:
                          mandatory: false
                          variantAttribute: false
                          defaultValue: GREEN
                        values:
                          - key: GREEN
                          - key: RED
                    metadata:
                      variantAttributesSchema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/634cea2740033d7c2e7b03a8-variantAttributes_v1.json'
                      templateAttributesSchema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/634cea2740033d7c2e7b03a8-templateAttributes_v1.json'
                      createdAt: '2022-03-31T09:52:15.423Z'
                      modifiedAt: '2022-03-31T09:52:15.423Z'
                      version: 1
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '404':
          $ref: '#/components/responses/product_NotFound_404'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      operationId: GET-product-retrieve-template
      parameters:
        - $ref: '#/components/parameters/header_accept_language'
        - $ref: '#/components/parameters/query_version_parameter_product_template'
      security:
        - OAuth2:
            - product.product_template_read
      description: |-
        Retrieves a specified product template's details.

        A product template defines a set of attributes which are common for all product instances based on that template.
    put:
      summary: Updating a product template
      operationId: PUT-product-update-template
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/common_response_BadRequest_400'
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '404':
          $ref: '#/components/responses/product_NotFound_404'
        '409':
          $ref: '#/components/responses/common_response_Conflict_409'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      tags:
        - Product Templates
      security:
        - OAuth2:
            - product.product_template_manage
      description: |-
        Updates a specified product template by replacing all of its existing data with data from the request body. 

        **Note**: Every product template update creates a new version of the template. Products based on previous versions are not automatically updated. In order to see the changes (for example new attributes) on the product level, you need to update the template version in applicable products.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productTemplateUpdate'
            examples:
              Product template:
                value:
                  name:
                    en: T-shirt
                  attributes:
                    - key: color
                      name:
                        en: Color
                        pl: Kolor
                      type: TEXT
                      metadata:
                        mandatory: false
                        variantAttribute: true
                        defaultValue: GREEN
                      values:
                        - key: GREEN
                        - key: RED
                  metadata:
                    version: 1
        description: ''
      parameters:
        - $ref: '#/components/parameters/header_content_language'
    delete:
      summary: Deleting a product template
      operationId: DELETE-product-remove-template
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/common_response_Unauthorized_401'
        '403':
          $ref: '#/components/responses/common_response_Forbidden_403'
        '500':
          $ref: '#/components/responses/common_response_InternalServerError_500'
      tags:
        - Product Templates
      security:
        - OAuth2:
            - product.product_template_manage
      description: |-
        Deletes a specified product template. Only product templates which are not used in products and parent variants can be deleted.
components:
  responses:
    common_response_BadRequest_400:
      description: 'Bad request due to validation, incorrect parameters, etc.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/coreErrorMessage'
          examples:
            Validation Error:
              $ref: '#/components/examples/common_response_validation_exception_BadRequest_400'
    common_response_Unauthorized_401:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              fault:
                type: object
                properties:
                  faultstring:
                    type: string
                  detail:
                    type: object
                    properties:
                      errorcode:
                        type: string
          examples:
            Invalid access token:
              value:
                fault:
                  faultstring: Invalid access token
                  detail:
                    errorcode: oauth.v2.InvalidAccessToken
            Access token expired:
              value:
                fault:
                  faultstring: Access Token expired
                  detail:
                    errorcode: keymanagement.service.access_token_expired
    common_response_Forbidden_403:
      description: Access forbidden. The caller is not allowed to access this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/coreErrorMessage'
          examples:
            Forbidden:
              value:
                code: 403
                status: Forbidden
                message: The access to the requested resource has been forbidden by the server.
    common_response_Conflict_409:
      description: |
        There are three possible reasons:
        1. Product with given code already exists, please choose unique code for your product
        2. Optimistic locking failed. If user sends metadata/version attribute which is outdated (someone else updated product in the time user was performing his changes). User should retrieve the latest product data and retry the request.
        3. Optimistic locking failed. User did not provide metadata/version attribute in update request, but someone else updated product while it was internally handled by product service. Resending the same request can result in successful update, but the update can override recently persisted changes.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/coreErrorMessageWithDetails'
          examples:
            Conflict:
              value:
                code: 409
                status: Conflict
                message: Conflict - a resource with given code or id has already exist.
    common_response_InternalServerError_500:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/coreErrorMessage'
          examples:
            Internal Server Error:
              value:
                code: 500
                status: Internal Server Error
                message: Problem encountered while trying to connect to the database.
    products_post_response_BadRequest_400:
      description: Resources cannot be created due to an error.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/coreErrorMessage'
          examples:
            Product with a given code already exists:
              $ref: '#/components/examples/product_response_validation_exception_BadRequest_400'
    products_get_response_OK_200:
      description: Resources have been retrieved successfully.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/basicProductsArray'
              - $ref: '#/components/schemas/bundleProductsArray'
              - $ref: '#/components/schemas/parentVariantProductsArray'
              - $ref: '#/components/schemas/variantProductsArray'
              - $ref: '#/components/schemas/dynamicVariantProductsArray'
          examples:
            BASIC Product:
              value:
                - id: 545b4e3dfaee4c10def3db24
                  yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                  code: SmartphoneX21415269949943
                  name: Smartphone X2
                  description: The world's best camera and camcorder in a waterproof smartphone.
                  published: false
                  template:
                    id: 633d774f37937d425ce5570f
                    version: 1
                  taxClasses:
                    EN: STANDARD
                  productType: BASIC
                  relatedItems:
                    - refId: 631c6adac2d4ea73be34f0d1
                      type: ACCESSORY
                  customerSegmentIds:
                    - 689591c74ac99162678ae78f
                    - 689591c74ac99162678ae78g
                  categoryIds:
                    - 631c6adac2d4ea73be34f0d4
                    - 631c6adac2d4ea73be34f0d5
                  mixins:
                    productCustomAttributes:
                      pricingMeasurePrice: 13
                      unitPricingMeasure:
                        value: 133
                        unitCode: GRM
                      unitPricingBaseMeasure:
                        value: 133
                        unitCode: GRM
                      pricingMeasure:
                        value: 133
                        unitCode: GRM
                      orderUnit: H87
                      minOrderQuantity: 2
                      maxOrderQuantity: 10
                      defaultOrderQuantity: 2
                      taxClass: Vat_23
                  metadata:
                    version: 1
                    createdAt: '2022-03-31T09:52:15.423Z'
                    modifiedAt: '2022-03-31T09:52:15.423Z'
                    schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                    mixins:
                      productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                      productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                      productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
            BUNDLE Product:
              value:
                - id: 545b4e3dfaee4c10def3db24
                  yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                  code: SmartphoneX21415269949943
                  name: Smartphone X2 with headset
                  description: The world's best camera and camcorder in a waterproof smartphone.
                  published: false
                  template:
                    id: 633d774f37937d425ce5570f
                    version: 1
                  taxClasses:
                    EN: STANDARD
                  productType: BUNDLE
                  relatedItems:
                    - refId: 631c6adac2d4ea73be34f0d1
                      type: ACCESSORY
                  bundledProducts:
                    - id: 53a358901b2e9dd2718b5c12
                      amount: 1
                    - id: 53a358901b2e9dd2718b5c13
                      amount: 1
                  customerSegmentIds:
                    - 689591c74ac99162678ae78f
                    - 689591c74ac99162678ae78g
                  categoryIds:
                    - 631c6adac2d4ea73be34f0d4
                    - 631c6adac2d4ea73be34f0d5
                  mixins:
                    productCustomAttributes:
                      pricingMeasurePrice: 13
                      unitPricingMeasure:
                        value: 133
                        unitCode: GRM
                      unitPricingBaseMeasure:
                        value: 133
                        unitCode: GRM
                      pricingMeasure:
                        value: 133
                        unitCode: GRM
                      orderUnit: H87
                      minOrderQuantity: 2
                      maxOrderQuantity: 10
                      defaultOrderQuantity: 2
                      taxClass: Vat_23
                  metadata:
                    version: 1
                    createdAt: '2022-03-31T09:52:15.423Z'
                    modifiedAt: '2022-03-31T09:52:15.423Z'
                    schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                    mixins:
                      productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                      productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                      productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
            PARENT VARIANT Product:
              value:
                - id: 545b4e3dfaee4c10def3db24
                  yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                  code: SmartphoneX21415269949943
                  name: Smartphone X2
                  description: The world's best camera and camcorder in a waterproof smartphone.
                  published: false
                  taxClasses:
                    EN: STANDARD
                  productType: PARENT_VARIANT
                  template:
                    id: 633d774f37937d425ce5570f
                    version: 1
                  relatedItems:
                    - refId: 631c6adac2d4ea73be34f0d1
                      type: ACCESSORY
                  variantAttributes:
                    color:
                      - key: RED
                      - key: GREEN
                      - key: BLUE
                    size:
                      - key: XS
                      - key: S
                      - key: M
                      - key: L
                      - key: XL
                  customerSegmentIds:
                    - 689591c74ac99162678ae78f
                    - 689591c74ac99162678ae78g
                  categoryIds:
                    - 631c6adac2d4ea73be34f0d4
                    - 631c6adac2d4ea73be34f0d5
                  mixins:
                    productCustomAttributes:
                      pricingMeasurePrice: 13
                      unitPricingMeasure:
                        value: 133
                        unitCode: GRM
                      unitPricingBaseMeasure:
                        value: 133
                        unitCode: GRM
                      pricingMeasure:
                        value: 133
                        unitCode: GRM
                      orderUnit: H87
                      minOrderQuantity: 2
                      maxOrderQuantity: 10
                      defaultOrderQuantity: 2
                      taxClass: Vat_23
                  metadata:
                    version: 1
                    createdAt: '2022-03-31T09:52:15.423Z'
                    modifiedAt: '2022-03-31T09:52:15.423Z'
                    schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                    mixins:
                      productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                      productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                      productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
            VARIANT Product:
              value:
                - id: 545b4e3dfaee4c10def3db24--545b4e3dfaee4c10def3db25
                  yrn: 'urn:yaas:saasag:caasproduct:product:myshop;545b4e3dfaee4c10def3db24'
                  code: SmartphoneX21415269949943
                  name: Smartphone X2 black
                  description: The world's best camera and camcorder in a waterproof smartphone.
                  published: false
                  taxClasses:
                    EN: STANDARD
                  productType: VARIANT
                  relatedItems:
                    - refId: 631c6adac2d4ea73be34f0d1
                      type: ACCESSORY
                  parentVariantId: 545b4e3dfaee4c10def3db24
                  customerSegmentIds:
                    - 689591c74ac99162678ae78f
                    - 689591c74ac99162678ae78g
                  categoryIds:
                    - 631c6adac2d4ea73be34f0d4
                    - 631c6adac2d4ea73be34f0d5
                  mixins:
                    productVariantAttributes:
                      color: RED
                      size: XL
                    productCustomAttributes:
                      pricingMeasurePrice: 13
                      unitPricingMeasure:
                        value: 133
                        unitCode: GRM
                      unitPricingBaseMeasure:
                        value: 133
                        unitCode: GRM
                      pricingMeasure:
                        value: 133
                        unitCode: GRM
                      orderUnit: H87
                      minOrderQuantity: 2
                      maxOrderQuantity: 10
                      defaultOrderQuantity: 2
                      taxClass: Vat_23
                  metadata:
                    version: 1
                    overridden:
                      - published
                      - name
                    createdAt: '2022-03-31T09:52:15.423Z'
                    modifiedAt: '2022-03-31T09:52:15.423Z'
                    schema: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/product.v2'
                    mixins:
                      productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                      productTemplateAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_templateAttributes_v1.json'
                      productVariantAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/633d774f37937d425ce5570f_variantAttributes_v1.json'
    product_NotFound_404:
      description: Resource has not been found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/productErrorMessage'
          examples:
            Product not found:
              $ref: '#/components/examples/product_NotFound_404'
    products_create_in_bulk_response:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/bulkResponse'
          examples:
            Multi-Status response example:
              value:
                - index: 0
                  id: 62d65a15088ed94ebf093d7d
                  code: 201
                  status: CREATED
                - index: 1
                  id: 62d65a15088ed94ebf093d8d
                  code: 201
                  status: CREATED
        application/xml:
          schema:
            type: object
            properties: {}
    products_update_in_bulk_response:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/bulkResponse'
          examples:
            Multi-Status response example:
              value:
                - index: 0
                  id: 62d65a15088ed94ebf093d7d
                  code: 204
                  status: NO_CONTENT
                - index: 1
                  id: 62d65a15088ed94ebf093d8d
                  code: 204
                  status: NO_CONTENT
  requestBodies:
    productsSearchBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/searchProducts'
          examples:
            search for products:
              value:
                q: "code:(A705197727 OR A705197726)"
    productCreateBody:
      content:
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/basicProductCreation'
              - $ref: '#/components/schemas/bundleProductCreation'
              - $ref: '#/components/schemas/parentVariantProductCreation'
              - $ref: '#/components/schemas/variantProductCreation'
              - $ref: '#/components/schemas/dynamicVariantProductCreation'
          examples:
            BASIC Product Creation - simple:
              value:
                name: Smartphone X2
                code: BASIC001
                description: The world best camera and camcorder in a waterproof smartphone.
                published: false
                taxClasses:
                  EN: STANDARD
                productType: BASIC
            BASIC Product Creation - wtih additional attributes:
              value:
                name: Smartphone X2
                code: BASIC001
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: false
                taxClasses:
                  EN: STANDARD
                productType: BASIC
                template:
                  id: 634cea2740033d7c2e7b03a8
                  version: 1
                relatedItems:
                  - refId: 634cea2740033d7c2e7b03a9
                    type: CONSUMABLE
                vendor:
                  type: object
                  properties:
                    id:
                      type: string
                      example: VND001
                    name:
                      type: string
                      example: Vendor1
                mixins:
                  salePricesData:
                    - salePriceStart: '2021-07-20T22:00:00.000+0000'
                      salePriceAmount: 6.7
                      salePriceEnd: '2021-07-25T21:59:59.000+0000'
                      enabled: false
                  productCustomAttributes:
                    pricingMeasurePrice: 13
                    unitPricingMeasure:
                      value: 133
                      unitCode: GRM
                    unitPricingBaseMeasure:
                      value: 100
                      unitCode: GRM
                    pricingMeasure:
                      value: 100
                      unitCode: GRM
                    orderUnit: H87
                    minOrderQuantity: 2
                    maxOrderQuantity: 10
                    defaultOrderQuantity: 5
                metadata:
                  mixins:
                    productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn.v29.json'
                    salePricesData: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/salePriceData.json'
            BUNDLE Product Creation:
              value:
                name: Smartphone X2 with headset
                code: BUNDLE001
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: false
                taxClasses:
                  EN: STANDARD
                bundledProducts:
                  - productId: 53a358901b2e9dd2718b5c12
                    amount: 1
                  - productId: 53a358901b2e9dd2718b5c13
                    amount: 1
                productType: BUNDLE
            PARENT VARIANT Product Creation:
              value:
                name: Smartphone X2 with headset
                code: PARENT001
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: false
                taxClasses:
                  EN: STANDARD
                productType: PARENT_VARIANT
                template:
                  id: 634cea2740033d7c2e7b03a8
                  version: 1
                variantAttributes:
                  color:
                    - key: RED
                    - key: GREEN
                    - key: BLUE
                  size:
                    - key: XS
                    - key: S
                    - key: M
                    - key: L
                    - key: XL
            VARIANT Product Creation:
              value:
                name: Smartphone X2 black
                code: VARIANT001
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: true
                taxClasses:
                  EN: STANDARD
                productType: VARIANT
                parentVariantId: 5c335acea9812100098ffde0
                relatedItems:
                  - refId: 634cea2740033d7c2e7b03a9
                    type: CONSUMABLE
                metadata:
                  overridden:
                    - published
                    - taxClasses
                mixins:
                  productVariantAttributes:
                    color: RED
                    size: XS
            DYNAMIC_VARIANT Root Product Creation:
              value:
                id: mobile-15-pro
                name:
                  en: Mobile Phone 15 Pro
                  de: Mobile Phone 15 Pro
                code: MOBILE-15-PRO
                description:
                  en: Flagship smartphone with titanium design and advanced camera system.
                  de: Flaggschiff-Smartphone mit Titan-Design und fortschrittlichem Kamerasystem.
                published: true
                sellable: false
                taxClasses:
                  EN: STANDARD
                productType: DYNAMIC_VARIANT
            DYNAMIC_VARIANT Child Product Creation (L1 variant):
              value:
                id: mobile-15-pro-l1
                name:
                  en: Mobile Phone 15 Pro – 256 GB Blue
                  de: Mobile Phone 15 Pro – 256 GB Blau
                code: MOBILE-15-PRO-L1
                published: true
                taxClasses:
                  EN: STANDARD
                productType: DYNAMIC_VARIANT
                parentVariantId: mobile-15-pro
                dynamicVariantType: H1_L1
                sellable: false
                ownVariantAttributes:
                  storageCapacity:
                    name:
                      en: Storage
                      de: Speicher
                    value:
                      type: STRING
                      qualifier: 256_GB
                      name:
                        en: 256 GB
                        de: 256 GB
                  colorFinish:
                    name:
                      en: Color
                      de: Farbe
                    value:
                      type: STRING
                      qualifier: BLUE
                      name:
                        en: Blue Titanium
                        de: Blau Titan
                  displaySize:
                    name:
                      en: Display size
                      de: Displaygröße
                    value:
                      type: DECIMAL
                      qualifier: 6.1
                      unit: INH
                      name:
                        en: 6.1 in
                        de: 6,1 Zoll
            DYNAMIC_VARIANT Child Product Creation (L2 leaf):
              value:
                id: mobile-15-pro-l2-retail
                name:
                  en: Mobile Phone 15 Pro – 256 GB Blue – Retail box
                  de: Mobile Phone 15 Pro – 256 GB Blau – Einzelhandelsbox
                code: MOBILE-15-PRO-L2-RETAIL
                published: true
                taxClasses:
                  EN: STANDARD
                productType: DYNAMIC_VARIANT
                parentVariantId: mobile-15-pro-l1
                dynamicVariantType: H1_L2
                sellable: true
                ownVariantAttributes:
                  bundleType:
                    name:
                      en: Bundle
                      de: Bundle
                    value:
                      type: STRING
                      qualifier: RETAIL_BOX
                      name:
                        en: Retail box
                        de: Einzelhandelsbox
    productUpdateBody:
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/basicProductUpdate'
              - $ref: '#/components/schemas/bundleProductUpdate'
              - $ref: '#/components/schemas/parentVariantProductUpdate'
              - $ref: '#/components/schemas/variantProductUpdate'
              - $ref: '#/components/schemas/dynamicVariantProductUpdate'
          examples:
            BASIC Product Update:
              value:
                name: Smartphone X2
                code: TESTDOC000
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: false
                taxClasses:
                  EN: STANDARD
                template:
                  id: 634cea2740033d7c2e7b03a8
                  version: 1
                relatedItems:
                  - refId: 634cea2740033d7c2e7b03a9
                    type: CONSUMABLE
                mixins:
                  salePricesData:
                    - salePriceStart: '2021-07-20T22:00:00.000+0000'
                      salePriceAmount: 6.7
                      salePriceEnd: '2021-07-25T21:59:59.000+0000'
                      enabled: false
                  productCustomAttributes:
                    pricingMeasurePrice: 13
                    unitPricingMeasure:
                      value: 133
                      unitCode: GRM
                    unitPricingBaseMeasure:
                      value: 100
                      unitCode: GRM
                    pricingMeasure:
                      value: 100
                      unitCode: GRM
                    orderUnit: H87
                    minOrderQuantity: 2
                    maxOrderQuantity: 10
                    defaultOrderQuantity: 5
                metadata:
                  version: 1
                  mixins:
                    productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn.v29.json'
                    salePricesData: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/salePriceData.json'
            BUNDLE Product Update:
              value:
                name: Smartphone X2 with headset
                code: TESTDOC001
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: false
                taxClasses:
                  EN: STANDARD
                productType: BUNDLE
                bundledProducts:
                  - productId: 53a358901b2e9dd2718b5c12
                    amount: 1
                  - productId: 53a358901b2e9dd2718b5c13
                    amount: 1
                metadata:
                  version: 1
            PARENT VARIANT Product Update:
              value:
                name: Smartphone X2
                code: PARENT001
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: false
                taxClasses:
                  EN: STANDARD
                template:
                  id: 634cea2740033d7c2e7b03a8
                  version: 1
                productType: PARENT_VARIANT
                variantAttributes:
                  color:
                    - key: RED
                    - key: GREEN
                    - key: BLUE
                  size:
                    - key: XS
                    - key: S
                    - key: M
                    - key: L
                    - key: XL
                metadata:
                  version: 1
            VARIANT Product Update:
              value:
                name: Smartphone X2 black
                code: VARIANT001
                description: The world's best camera and camcorder in a waterproof smartphone.
                published: true
                taxClasses:
                  EN: STANDARD
                productType: VARIANT
                parentVariantId: 214cah2245033d9d2a2b17f1
                relatedItems:
                  - refId: 634cea2740033d7c2e7b03a9
                    type: CONSUMABLE
                metadata:
                  version: 1
                  overridden:
                    - published
                    - taxClasses
                mixins:
                  productVariantAttributes:
                    color: RED
                    size: XS
            DYNAMIC_VARIANT Product Update:
              value:
                name:
                  en: Mobile Phone 15 Pro – 256 GB Blue
                  de: Mobile Phone 15 Pro – 256 GB Blau
                code: MOBILE-15-PRO-L1
                published: true
                taxClasses:
                  EN: STANDARD
                productType: DYNAMIC_VARIANT
                dynamicVariantType: H1_L1
                sellable: false
                ownVariantAttributes:
                  storageCapacity:
                    name:
                      en: Storage
                      de: Speicher
                    value:
                      type: STRING
                      qualifier: 256_GB
                      name:
                        en: 256 GB
                        de: 256 GB
                  colorFinish:
                    name:
                      en: Color
                      de: Farbe
                    value:
                      type: STRING
                      qualifier: BLUE
                      name:
                        en: Blue Titanium
                        de: Blau Titan
                  displaySize:
                    name:
                      en: Display size
                      de: Displaygröße
                    value:
                      type: DECIMAL
                      qualifier: 6.1
                      unit: INH
                      name:
                        en: 6.1 in
                        de: 6,1 Zoll
                  batteryCapacityMah:
                    name:
                      en: Battery capacity
                      de: Akku-Kapazität
                    value:
                      type: NUMBER
                      qualifier: 3274
                      unit: MAH
                      name:
                        en: 3274 mAh
                        de: 3274 mAh
                metadata:
                  version: 2
    productPartialUpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/productPartialUpdate'
          example:
            published: true
    productBulkUpdateBody:
      content:
        application/json:
          schema:
            type: array
            items:
              oneOf:
                - $ref: '#/components/schemas/basicProductBulkUpdate'
                - $ref: '#/components/schemas/bundleProductBulkUpdate'
                - $ref: '#/components/schemas/parentVariantProductBulkUpdate'
                - $ref: '#/components/schemas/variantProductBulkUpdate'
                - $ref: '#/components/schemas/dynamicVariantProductBulkUpdate'
          examples:
            Update multiple products in bulk:
              value:
                - id: "abc-123"
                  code: "532432412331"
                  name: "Product 1"
                  metadata:
                    version: 1
                - id: "abc-124"
                  code: "532432412332"
                  name: "Product 2"
                  metadata:
                    version: 1
                - id: "abc-125"
                  code: "532432412333"
                  name: "Product 3"
                  metadata:
                    version: 1


    productBulkCreateBody:
      content:
        application/json:
          schema:
            type: array
            items:
              oneOf:
                - $ref: '#/components/schemas/basicProductCreation'
                - $ref: '#/components/schemas/bundleProductCreation'
                - $ref: '#/components/schemas/parentVariantProductCreation'
                - $ref: '#/components/schemas/variantProductCreation'
                - $ref: '#/components/schemas/dynamicVariantProductCreation'
          examples:
            Create multiple products in bulk:
              value:
                - id: abc-123
                  code: '532432412331'
                  name: Product 1
                  productType: BASIC
                - id: abc-124
                  code: '532432412332'
                  name: Product 2
                  productType: BASIC
                - id: abc-125
                  code: '532432412333'
                  name: Product 3
                  productType: BASIC
      description: A list of product create requests
  schemas:
    localizedValue:
      description: Localized value which can have different structure which depends on provided `Content-Language` header.
      oneOf:
        - type: string
        - type: object
          additionalProperties:
            type: string
          example:
            en: Product
            pl: Produkt
    coreErrorMessage:
      type: object
      properties:
        code:
          type: integer
          description: HTTP Status Code.
        status:
          type: string
          description: HTTP Status.
        message:
          type: string
          description: Error message.
    coreErrorMessageWithDetails:
      type: object
      allOf:
        - $ref: '#/components/schemas/coreErrorMessage'
        - type: object
          properties:
            details:
              type: array
              description: Error message details.
              items:
                type: object
                properties:
                  field:
                    type: string
                  type:
                    type: string
                  message:
                    type: string
                  moreInfo:
                    type: string
    productErrorMessage:
      allOf:
        - $ref: '#/components/schemas/coreErrorMessage'
        - type: object
          properties:
            productId:
              type: string
              description: Identifier of the product.
    productTemplateBase:
      type: object
      properties:
        name:
          type: object
          description: Localized product template name in a form of a map of translations.
          additionalProperties:
            type: string
        attributes:
          type: array
          description: List of attributes related to the product template.
          items:
            $ref: '#/components/schemas/productTemplateAttribute'
      required:
        - name
        - attributes
    productTemplateCreation:
      title: productTemplateCreation
      type: object
      allOf:
        - $ref: '#/components/schemas/productTemplateBase'
        - type: object
          properties:
            id:
              type: string
              description: Identifier of the product template.
    productTemplateAttribute:
      title: productTemplateAttribute
      type: object
      properties:
        key:
          type: string
          description: 'An identifier of the attribute. The key is used as a field name in a product instance created based on the product template. The key can contain only alphanumeric characters. '
        name:
          type: object
          additionalProperties:
            type: string
          description: Localized resource name in a form of a map of translations.
        type:
          type: string
          description: 'Attribute type. Correct values: `TEXT`, `NUMBER`, `BOOLEAN`, `DATETIME`. Regardless of the chosen type, the defaultValue and values fields are validated. The DATETIME values must be compliant with the ISO 8601 standard, for example: 2022-03-31T09:52:15.423Z.'
        metadata:
          type: object
          description: Metadata contains additional information about the attribute.
          properties:
            mandatory:
              type: boolean
              description: Indicates whether the attribute should be treated as a mandatory.
            variantAttribute:
              type: boolean
              description: |-
                Indicates whether the attribute is a variant-specific attribute. Variant attributes are taken into account during variants creation.
                If the value is set to true, then the 'values' array cannot be null.
            defaultValue:
              description: The attribute stores a default value for the attribute.
              oneOf:
                - type: string
                - type: boolean
                - type: number
        values:
          allOf:
            - $ref: '#/components/schemas/values'
            - type: object
              description: |-
                If the values are populated then the attribute behaves as an enum property. In other words, the attribute in a product instance can contain only values mentioned in this array. For each
                attribute the value should consist of object with key and localized names.
      required:
        - key
        - name
        - type
        - metadata
    productTemplateMetadata:
      title: productTemplateMetadata
      type: object
      properties:
        variantAttributesSchema:
          type: string
          description: Schema url of the variant attributes.
        templateAttributesSchema:
          type: string
          description: Schema url of the template attributes.
        createdAt:
          type: string
          description: 'Date and time when the object was created, compliant with the ISO 8601 standard. For example: `2022-03-31T09:52:15.423Z`'
        modifiedAt:
          type: string
          description: 'Date and time when the object was last modified, compliant with the ISO 8601 standard. For example: `2022-03-31T09:52:15.423Z`'
        version:
          type: number
          description: Version of the object. The value is required during update operation.
    productTemplateResponse:
      allOf:
        - $ref: '#/components/schemas/productTemplateCreation'
        - type: object
          properties:
            metadata:
              $ref: '#/components/schemas/productTemplateMetadata'
    productTemplatesResponse:
      title: productTemplatesResponse
      type: array
      items:
        $ref: '#/components/schemas/productTemplateResponse'
    productTemplateUpdate:
      title: productTemplateUpdate
      allOf:
        - $ref: '#/components/schemas/productTemplateBase'
        - type: object
          properties:
            metadata:
              type: object
              properties:
                version:
                  type: number
                  description: Version of the object. The value is required while product template update.
              required:
                - version
      required:
        - name
        - attributes
        - metadata
    productType:
      type: string
      description: |
        Indicates the product type, which is immutable. Once the product type is set, it cannot be updated.
      default: BASIC
      enum:
        - BASIC
        - BUNDLE
        - PARENT_VARIANT
        - VARIANT
        - DYNAMIC_VARIANT
    productTypeUpdate:
      type: string
      description: |
        Indicates the product type, which is immutable. This property is taken into account only for insert operations.
      default: BASIC
      enum:
        - BASIC
        - BUNDLE
        - PARENT_VARIANT
        - VARIANT
        - DYNAMIC_VARIANT
    template:
      type: object
      description: |
        Indicates the template that has been used during the product creation. After assigning a template to the product, the new attributes can be defined under the `productTemplateAttributes` key in the `mixins` field. In case of variant attributes, the attributes should be defined under `productVariantAttributes`. The attributes are then validated in accordance with their definition in the template. 

        **Note:** The template with defined variant attributes can be used only in PARENT_VARIANT and VARIANT types of product.
      properties:
        id:
          type: string
          description: Identifier of the product template.
        version:
          type: string
          description: Product template version.
      required:
        - id
        - version
    bundledProducts:
      type: array
      description: 'List of bundled products'
      items:
        type: object
        properties:
          productId:
            type: string
            description: Identifier of the bundled product.
          amount:
            type: integer
            description: Amount of bundled products. Must be a positive number.
        required:
          - productId
          - amount
    value:
      type: object
      properties:
        key:
          oneOf:
            - type: string
            - type: number
            - type: boolean
    values:
      type: array
      items:
        $ref: '#/components/schemas/value'
    variantAttributes:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/values'
      description: |-
[...]
